
.bg-grey{
    background-color: $bg_grey;
}

.bg-grey-light{
    background-color: $border_light;
}

.bg-white{
    background-color: $bg_white;
}

.bg-beige{
    background-color: beige;
}

.bg-red{
    background-color: $bg_red;
}

.bg-orange{
    background-color: $bg_orange;
}

.bg-orange-2{
    background-color: $bg_orange_2;
}

.bg-orange-dark{
    background-color: $bg_orange_dark;
}

.bg-black{
    background-color: black;
}

.bg-black-off{
    background-color: $black_off;
}

.bg-dark{
    background-color: #5a5a5a;
}

.bg-darkgrey{
    background-color: #e6e6e6;
}

.bg-ash{
    background-color: #828181;
}

.bg-ghostwhite{
    background-color: ghostwhite;
}

.bg-skyblue{
    background-color: $bg_skyblue;
}

.bg-green{
    background-color: $green;
}

.bg-green-lime{
    background-color: $green_lime;
}

.bg-green-army{
    background-color: $green_army;
}

.bg-blue{
    background-color: $blue;
}

.bg-blue-dark{
    background-color: $blue_dark;
}

.bg-yellow-light{
    background-color: $yellow_light;
}

.bg-yellow{
    background-color: $yellow;
}

.bg-yellow-dark{
    background-color: $yellow_dark;
}

.bg-yellow-darker{
    background-color: $yellow_darker;
}

.bg-brown{
    background-color: $brown;
}

.bg-purple{
    background-color: $purple;
}

.bg-purple-career{
    background-color: $career_purple;
}

.bg-purple-light{
    background-color: #ec9bc6;
}

.half-bg-yellow{
    position: relative;
    
    &:before{
        content: "";
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        right: 0;
        height: 50%;
        background-color: $yellow;
    }
    
    >*{
        position: relative;
        z-index: 1;
    }
}




.bg-ocean-1{
    background-color: #47b3ff;
}
.bg-ocean-2{
    background-color: #2996e2;
    
    /*background: rgba(71,178,255,1);
    background: -moz-linear-gradient(top, rgba(71,178,255,1) 0%, rgba(41,149,226,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(71,178,255,1)), color-stop(100%, rgba(41,149,226,1)));
    background: -webkit-linear-gradient(top, rgba(71,178,255,1) 0%, rgba(41,149,226,1) 100%);
    background: -o-linear-gradient(top, rgba(71,178,255,1) 0%, rgba(41,149,226,1) 100%);
    background: -ms-linear-gradient(top, rgba(71,178,255,1) 0%, rgba(41,149,226,1) 100%);
    background: linear-gradient(to bottom, rgba(71,178,255,1) 0%, rgba(41,149,226,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47b2ff', endColorstr='#2995e2', GradientType=0 );*/
}
.bg-ocean-3{
    background-color: #0078d7;
    
    /*background: rgba(41,149,226,1);
    background: -moz-linear-gradient(top, rgba(41,149,226,1) 0%, rgba(0,118,215,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(41,149,226,1)), color-stop(100%, rgba(0,118,215,1)));
    background: -webkit-linear-gradient(top, rgba(41,149,226,1) 0%, rgba(0,118,215,1) 100%);
    background: -o-linear-gradient(top, rgba(41,149,226,1) 0%, rgba(0,118,215,1) 100%);
    background: -ms-linear-gradient(top, rgba(41,149,226,1) 0%, rgba(0,118,215,1) 100%);
    background: linear-gradient(to bottom, rgba(41,149,226,1) 0%, rgba(0,118,215,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2995e2', endColorstr='#0076d7', GradientType=0 );*/
}
.bg-ocean-4{
    background-color: #004ab3;
    
    /*background: rgba(0,118,215,1);
    background: -moz-linear-gradient(top, rgba(0,118,215,1) 0%, rgba(0,75,179,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,118,215,1)), color-stop(100%, rgba(0,75,179,1)));
    background: -webkit-linear-gradient(top, rgba(0,118,215,1) 0%, rgba(0,75,179,1) 100%);
    background: -o-linear-gradient(top, rgba(0,118,215,1) 0%, rgba(0,75,179,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,118,215,1) 0%, rgba(0,75,179,1) 100%);
    background: linear-gradient(to bottom, rgba(0,118,215,1) 0%, rgba(0,75,179,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0076d7', endColorstr='#004bb3', GradientType=0 );*/
}
.bg-ocean-5{
    background-color: #011590;
    
    /*background: rgba(0,75,179,1);
    background: -moz-linear-gradient(top, rgba(0,75,179,1) 0%, rgba(1,20,144,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,75,179,1)), color-stop(100%, rgba(1,20,144,1)));
    background: -webkit-linear-gradient(top, rgba(0,75,179,1) 0%, rgba(1,20,144,1) 100%);
    background: -o-linear-gradient(top, rgba(0,75,179,1) 0%, rgba(1,20,144,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,75,179,1) 0%, rgba(1,20,144,1) 100%);
    background: linear-gradient(to bottom, rgba(0,75,179,1) 0%, rgba(1,20,144,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004bb3', endColorstr='#011490', GradientType=0 );*/
}
.bg-ocean-6{
    background-color: #060671;
    
    /*background: rgba(1,20,144,1);
    background: -moz-linear-gradient(top, rgba(1,20,144,1) 0%, rgba(0,0,5,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(1,20,144,1)), color-stop(100%, rgba(0,0,5,1)));
    background: -webkit-linear-gradient(top, rgba(1,20,144,1) 0%, rgba(0,0,5,1) 100%);
    background: -o-linear-gradient(top, rgba(1,20,144,1) 0%, rgba(0,0,5,1) 100%);
    background: -ms-linear-gradient(top, rgba(1,20,144,1) 0%, rgba(0,0,5,1) 100%);
    background: linear-gradient(to bottom, rgba(1,20,144,1) 0%, rgba(0,0,5,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#011490', endColorstr='#000005', GradientType=0 );*/
}

.bg-ocean-7{
    background-color: #000056;
    
    /*background: rgba(1,20,144,1);
    background: -moz-linear-gradient(top, rgba(1,20,144,1) 0%, rgba(0,0,5,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(1,20,144,1)), color-stop(100%, rgba(0,0,5,1)));
    background: -webkit-linear-gradient(top, rgba(1,20,144,1) 0%, rgba(0,0,5,1) 100%);
    background: -o-linear-gradient(top, rgba(1,20,144,1) 0%, rgba(0,0,5,1) 100%);
    background: -ms-linear-gradient(top, rgba(1,20,144,1) 0%, rgba(0,0,5,1) 100%);
    background: linear-gradient(to bottom, rgba(1,20,144,1) 0%, rgba(0,0,5,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#011490', endColorstr='#000005', GradientType=0 );*/
}



