.btn-white,
.btn-black,
.btn-red,
.btn-trans-white,
.btn-trans {
    //margin-left: 5px;
    //margin-right: 5px;
    
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    //font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 0px;
    
    i{
        margin-left: 3px;
        margin-right: 3px;
    }
}

.btn{
    display: inline-block;
    position: relative;
    outline: 0;
    box-shadow: none !important;
    font-weight: 500;
    padding: 0.5rem 2em;
    margin-bottom: 0.8rem;
    border-radius: 20px;
    transition: all 0.4s ease;
}



.btn-white{
    border: 0.5px solid white;
    background-color: white;
    color: black;

    &:hover{
        transition: all 0.4s ease;
        background-color: ghostwhite;
        color: black;
    }
}

.btn-black{
    border: 0.5px solid black;
    background-color: black;
    color: white;

    &:hover{
        transition: all 0.4s ease;
        background-color: $off_black;
        border-color: $off_black;
        color: white;
    }
}

.btn-green{
    border: 0.5px solid $green;
    background-color: $green;
    color: white;

    &:hover{
        transition: all 0.4s ease;
        background-color: $green_light;
        border-color: $green_light;
        color: white;
    }
}

.btn-orange{
    border: 0.5px solid $bg_orange;
    background-color: $bg_orange;
    color: white;

    &:hover{
        transition: all 0.4s ease;
        background-color: $bg_orange_2;
        border-color: $bg_orange_2;
        color: white;
    }
}

.btn-blue{
    border: 0.5px solid $blue;
    background-color: $blue;
    color: white;

    &:hover{
        transition: all 0.4s ease;
        background-color: $blue_light;
        border-color: $blue_light;
        color: white;
    }
}

.btn-disabled{
    border: 0.5px solid #d4d4d4;
    background-color: #d4d4d4;
    color: white;
    cursor: not-allowed !important;
}

.btn-ash{
    border: 0.5px solid $ash;
    background-color: $ash;
    color: white;

    &:hover{
        transition: all 0.4s ease;
        background-color: $ash;
        border-color: $ash;
        color: white;
    }
}

.btn-career-purple{
    border: 0.5px solid #b55085;
    background-color: rgba(181, 80, 133, 1);
    color: white;

    &:hover{
        transition: all 0.4s ease;
        border-color: rgba(181, 80, 133, 0.7);
        background-color: rgba(181, 80, 133, 0.7);
        color: white;
    }
}

.btn-yellow-dark{
    border: 0.5px solid $yellow;
    background-color: $yellow;
    color: white;

    &:hover{
        transition: all 0.4s ease;
        border-color: $yellow_dark;
        background-color: $yellow_dark;
        color: white;
    }
}

.btn-entre-orange{
    border: 0.5px solid rgba(210, 104, 25, 1);
    background-color: rgba(210, 104, 25, 1);
    color: white;

    &:hover{
        transition: all 0.4s ease;
        border-color: rgba(210, 104, 25, 0.7);
        background-color: rgba(210, 104, 25, 0.7);
        color: white;
    }
}

.btn-army-green{
    border: 0.5px solid rgba(58, 64, 2, 1);
    background-color: rgba(58, 64, 2, 1);
    color: white;

    &:hover{
        transition: all 0.4s ease;
        border-color: rgba(58, 64, 2,0.7);
        background-color: rgba(58, 64, 2, 0.7);
        color: white;
    }
}

.btn-red{
    color: $bg_white;
    background-color: $bg_red;
    border:1px solid $bg_red;
    transition: all 0.4s ease;
    
    &:hover{
        background-color: $bg_red_hover;
        color: $bg_white;
        transition: all 0.4s ease;
    }
}

.btn-big{
    padding: 12px 40px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.btn-trans{
    border: 1px solid $green;
    background-color: rgba(0,0,0,0);
    //color: #b9b5b5;
    padding: 8px 30px;
    transition: all 0.4s ease;
    
    &:hover{
        transition: all 0.4s ease;
        color: $bg_orange_dark;
    }
}
.btn-application-manager{
    color: black;
    padding: 0.75em 2em;
    border: 1px solid #707070;
    border-radius: 0.5em;
    background-color: transparent;
    transition: all 0.4s ease;
    
    &:hover{
        transition: all 0.4s ease;
        color: white;
        background-color: #707070;
    }
}

.btn-trans-green{
    border: 0.5px solid $green;
    background-color: transparent;
    color: $green;

    &:hover{
        transition: all 0.4s ease;
        background-color: $green;
        color: white;
    }
}

.btn-trans-blue{
    border: 0.5px solid $blue;
    background-color: rgba(0,0,0,0);
    color: $blue;

    &:hover{
        transition: all 0.4s ease;
        background-color: $blue;
        border-color: $blue;
        color: white;
    }
}




.btn-trans-wb{
    border: 0.5px solid white;
    background-color: rgba(0,0,0,0);
    color: white;

    &:hover{
        transition: all 0.4s ease;
        background-color: white;
        color: black;
    }
}

.btn-trans-bw{
    border: 0.5px solid black;
    background-color: rgba(0,0,0,0);
    color: black;

    &:hover{
        transition: all 0.4s ease;
        background-color: white;
        color: black;
        border-color: white;
    }
}

.btn-trans-wb.icon{
    padding-left: 50px;
    position: relative;
    
    &:after {
        content: "\f061";
        position: absolute;
        width: 2.4em;
        height: 2.4em;
        background-color: white;
        color: black;
        border-radius: 50%;
        top: 50%;
        left: 5px;
        transform: translateY(-50%) rotate(-45deg);
        font-size: 0.8em;
        font-family: FontAwesome; 
        padding: 0.5em 0.1em;
        transition: all 0.3s ease;
    }

    &:hover{
        &:after {
            background-color: black;
            color: white;
            transition: all 0.3s ease;
        }
    }
}

.btn-trans-wb-icon{
    padding-left: 50px;
    position: relative;
    
    border: 0.5px solid white;
    background-color: rgba(0,0,0,0);
    color: white;

    &:hover{
        transition: all 0.4s ease;
        background-color: white;
        color: black;
    }
    
    i{
        content: "";
        position: absolute;
        width: 2.4em;
        height: 2.4em;
        background-color: white;
        color: black;
        border-radius: 50%;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        font-size: 0.8em;
        padding: 0.7em 0.1em 0.4em;
        transition: all 0.3s ease;
    }

    &:hover{
        i{
            background-color: black;
            color: white;
            transition: all 0.3s ease;
        }
    }
}

.btn-trans-gg{
    border: 0.5px solid $green;
    background-color: rgba(0,0,0,0);
    color: $green;

    &:hover{
        transition: all 0.4s ease;
        background-color: $green;
        color: white;
    }
}

.btn-contact{
    border: 0;
    outline: 0;
    background-color: $bg_orange;
    color: white;
    font-size: 1.3em;
    padding: 8px 30px;
    transition: all 0.4s ease;
    
    &:hover{
        transition: all 0.4s ease;
        color: white;
        background-color: $bg_orange_dark;
    }
}

.btn-primary{
    border: 0;
    outline: 0;
    background-color: $bg_orange;
    border-radius: 0;
    //color: #b9b5b5;
    transition: all 0.4s ease;
    
    &:hover{
        transition: all 0.4s ease;
        background-color: $bg_red;
    }
}


// Margin Resets
.no-m-b{
    margin-bottom: unset;
}


.btn-wrapper > * {
    margin-right: 10px;
    margin-bottom: 10px;
}

.btn-pop{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.75em 1em;
    background-color: white;
    transition: all 0.4s ease;
    color: black;
    
    &:hover{
        color: black;
    }
    
    &:after{
        content: "\f0d7";
        font-family: Fontawesome;
    }
}

.btn-pop-yellow{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.75em 1em;
    background-color: $yellow;
    color: white;
    transition: all 0.4s ease;
    
    &:hover{
        color: white;
        background-color: $ash;
        transition: all 0.4s ease;
    }
    
    &:after{
        content: "\f0d7";
        font-family: Fontawesome;
    }
}

.btn-pop-ash{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.75em 1em;
    background-color: $ash;
    color: white;
    transition: all 0.4s ease;
    
    &:hover{
        color: white;
        background-color: $ash;
        transition: all 0.4s ease;
    }
    
    &:after{
        content: "\f0d7";
        font-family: Fontawesome;
    }
}

.btn-pop-trans-b{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.75em 1em;
    border: 1px solid black;
    color: black;
    transition: all 0.4s ease;
    
    &:after{
        content: "\f0d7";
        font-family: Fontawesome;
    }
}

/*.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: $yellow_dark !important;
    border-color: $yellow_dark;
}*/