.card_section{
	overflow: hidden;
}

.box{
    display: block;
    overflow: hidden;
}

.cards_1{
    >.card_wrapper{
        width: 100%;
    }
}

.cards_2{
    >.card_wrapper{
        width: 100%;
        
        @include MQ(M){
            width: calc(100%/2);
        }
    }
}

.cards_3{
    >.card_wrapper{
        width: 100%;
    
        @include MQ(M){
            width: auto;
            margin-right: 10px;
        }
    }
}

.cards_4{
    >.card_wrapper{
        width: calc(100%/2);
        
        @include MQ(M){
            width: calc(100%/4);
        }
    }
}

.card_wrapper {
	box-sizing: border-box;
	display: flex;
	float: left;
    
    img{
            max-width: 100%;
        }

	.card{
		background: white;
        //border: 1px solid $border_light;
		margin: 4px;
        
        transition: all 1s ease;
	}
    
    .card:hover{
        transition: all 1s ease;
        box-shadow: 0 5px 7.5px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.2);
        
        @include MQ(M){
            box-shadow: 0 10px 15px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2);
        }
	}
}


/*
*
*Flex Boxes BEGIN
*
*/

.card_section_flex{
	padding: 0 4px;
    display: flex;
}

.card_wrapper_flex {
	box-sizing: border-box;
	display: block;
	float: left;

	.card_flex{
		background: white;
		margin: 6px;
	}
}

.dir_column{
    flex-direction: column;
}

.dir_row{
    flex-direction: row;
}

.flex_center{
    justify-content: center;
    margin: auto;
}

.flex_vert_center{
    display: flex;
    align-items: center;
}

.flex_vert_end{
    display: flex;
    align-items: flex-end;
}

.flex_start{
    justify-content: flex-start;
}

.flex_end{
    justify-content: flex-end;
}

.flex_1{
    flex: 1;
}

.flex_2{
    flex: 2;
}

.flex_3{
    flex: 3;
}

.flex_4{
    flex: 4;
}

.flex_5{
    flex: 5;
}

.flex_10{
    flex: 10;
}

/*
*
*Flex Boxes END
*
*/


//Trans-card
.trans-card{
    color: white;
    border: 1px solid white;
    padding: 40px;
    
    .title{
        font-size: 1em;
        line-height: 1.2em;
        font-weight: 600;
        margin-bottom: 40px;
    }
    
    .cto {
        font-size: 0.9em;
        color: white;
        padding: 10px 25px;
        background-color: $bg_orange;
        
        &:hover{
            background-color: &bg_orange;
            border: 2px solid &bg_orange;
        }
    }
}


//Card Border
.borderd{
    border: 1px solid $bg-orange;
}
.borderd-right{
    border-right: 1px solid $border_light;
}
.borderd-left{
    border-left: 1px solid $border_light;
}
.borderd-bottom{
    border-bottom: 1px solid $bg_grey_dark;
}
.borderd-bottom-2{
    border-bottom: 2px solid $txt_light;
}
.borderd-top{
    border-top: 1px solid $border_light;
}

//Card Bootstrap
.card-wrapper{
    padding: 10px;
    
    .card{
        
    }
}

//
//Borders
.border-o-1{
    border-style: solid;
    border-width: 1px;
}

.border-o-2{
    border-style: solid;
    border-width: 2px;
}

.border-u-1{
    border-style: solid;
    border-width: 0 1px 1px 1px;
}

.border-tb-1{
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

.border-tb-4{
    border-style: solid;
    border-top-width: 4px;
    border-bottom-width: 4px;
}

.border-lr-1{
    border-style: solid;
    border-left-width: 1px;
    border-right-width: 1px;
}

.border-t-1{
    border-style: solid;
    border-top-width: 1px;
}

.border-t-2{
    border-style: solid;
    border-top-width: 2px;
}

.border-t-4{
    border-style: solid;
    border-top-width: 4px;
}

.border-b-1{
    border-style: solid;
    border-bottom-width: 1px;
}

.border-b-2{
    border-style: solid;
    border-bottom-width: 2px;
}

.border-b-4{
    border-style: solid;
    border-bottom-width: 4px;
}

.border-r-1{
    border-style: solid;
    border-right-width: 1px;
}

.border-l-1{
    border-style: solid;
    border-left-width: 1px;
}


.b-s-dashed{
    border-style: dashed;
}


.border-color-grey{
    border-color: lightgray;
}

.border-color-lighter{
    border-color: $txt_lighter;
}

.border-color-white{
    border-color: white;
}

.border-color-white-trans{
    border-color: rgba(255,255,255,0.4);
}

.border-color-darkgrey{
    border-color: $bg_grey_dark;
}

.border-color-black{
    border-color: black;
}

.border-color-blue{
    border-color: $blue;
}

// Border Utitlities

.border-0-1{
     border: 1px solid $bg-orange;
}

.b-none{
    border-width: 0;
}

.b-md-d{
    @include MQ(M){
        border-width: 1px;
    }
}

.border-md-r-1{
    @include MQ(M){
        border-right-width: 1px;
    }
}

.b-md-none{
    @include MQ(M){
        border-width: 0;
    }
}

.payment-border{
    border-bottom: 1px solid white;
    
    @include MQ(M){
        border: 0;
        border-right: 1px solid white;
    }
}


//
.flex-box{
    display: flex;
}

.flex-box-wrap{
    display: flex;
    flex-direction: column;
    
    @include MQ(M){
        flex-direction: row;
        align-items: center;
    }
    
    >*{
        flex: 1;
    }
}

.learnig-home-section{
    display: flex;
    flex-direction: column;
    
    @include MQ(M){
        flex-direction: row;
    }
    
    a{
        color: white;
        transition: all 0.3s ease;

        &:hover{
            color: $bg_orange;
            transition: all 0.3s ease;
        }
    }
    
    article{
        flex: 1;
        padding: 40px 30px;
        color: white;
        
        @include MQ(M){
            &:first-child{
                padding-left: 100px;
            }

            &:last-child{
                padding-right: 100px;
            }
        }
    }
    
    .form-control, .btn{
        border-radius: 0 !important;
    }
    
    
    
}

.project-box{
    >*{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        
        @include MQ(M){
            
            &:first-child{
                -webkit-box-flex: 0;
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
            }
            
            &:nth-child(2){
                -webkit-box-flex: 0;
                -ms-flex: 0 0 25%;
                flex: 0 0 25%;
                max-width: 25%;
            }
            
            &:nth-child(3){
                -webkit-box-flex: 0;
                -ms-flex: 0 0 25%;
                flex: 0 0 25%;
                max-width: 25%;
            }
            
            &:nth-child(4){
                -webkit-box-flex: 0;
                -ms-flex: 0 0 25%;
                flex: 0 0 25%;
                max-width: 25%;
            }
            
            &:nth-child(5){
                -webkit-box-flex: 0;
                -ms-flex: 0 0 25%;
                flex: 0 0 25%;
                max-width: 25%;
            }
            
            &:nth-child(6){
                -webkit-box-flex: 0;
                -ms-flex: 0 0 25%;
                flex: 0 0 25%;
                max-width: 25%;
            }
            
            &:nth-child(7){
                -webkit-box-flex: 0;
                -ms-flex: 0 0 25%;
                flex: 0 0 25%;
                max-width: 25%;
            }
            
            &:nth-child(8){
                -webkit-box-flex: 0;
                -ms-flex: 0 0 33.33%;
                flex: 0 0 33.33%;
                max-width: 33.33%;
            }
            
            &:nth-child(9){
                -webkit-box-flex: 0;
                -ms-flex: 0 0 33.33%;
                flex: 0 0 33.33%;
                max-width: 33.33%;
            }
            
            &:nth-child(10){
                -webkit-box-flex: 0;
                -ms-flex: 0 0 33.33%;
                flex: 0 0 33.33%;
                max-width: 33.33%;
            }
            
            &:last-child{
                -webkit-box-flex: 0;
                -ms-flex: 1;
                flex: 1;
                max-width: initial;
            }
        }
    } 
}

.people-card{
    .wrapper{
        padding: 10px;
        
        .image-wrapper{
            overflow: hidden;
            
            .image-box{
                height: 240px;
                background-size: cover !important;
                background-repeat: no-repeat !important;
                transform: scale(1);
                transition: all 0.3s ease;
            }
        }

        .caption{
            padding: 20px;
            background-color: black;
            color: white;
            transition: all 0.3s ease;

            .name{
                font-weight: 400;
                font-size: 0.8em;
                font-weight: 600;
                margin-bottom: 10px;
            }

            .position{
                font-size: 0.7em;
            }
        }
    }
    
    &:hover{
        .image-wrapper{
            
            .image-box{
                transform: scale(1.05);
                transition: all 0.3s ease;
            }
        }
        
        .caption{
            background-color: $blue;
            transition: all 0.3s ease;
        }
    }
}

.team-member-header{
    background-color: black;
    color: white;
    padding: 60px;
    
    .title{
        font-size: 2em;
        letter-spacing: 0.2em;
        margin-bottom: 20px;
    }
    
    .position{
        display: inline-block;
        font-size: 0.9em;
        letter-spacing: 0.2em;
        border: 2px solid white;
        padding: 5px 20px;
        position: relative;
        
        &:before, &:after{
            content: "";
            position: absolute;
            background-color: white;
            height: 2px;
            width: 100%;
            top: 50%;
            transform: translateY(-50%)
        }
        
        &:before{
            left: -100%;
        }
        
        &:after{
            left: 100%;
        }
    }
}

.rounded-corners{
    border-radius: 0.5em;
}

.rounded-t-12{
    border-radius: 0.8rem 0.8rem 0 0;
}

.rounded-b-12{
    border-radius: 0 0 0.8rem 0.8rem;
}

.rounded-o-12{
    border-radius: 0.8rem;
}

.dashed-border{
    border-style: dashed;
}

.advice-card {
    position: relative;
    
    @include MQ(M){
        min-height: 280px;
    }
    
    .subtitle{
        @include MQ(M){
            position: absolute;
            bottom: 0;
        }
    }
}

.trainer-card{
    .title-bar{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .verification{
        display: inline-flex;
        align-items: center;

        background-color: $ash;
        padding: 0.4em 0.6em;
        border-radius: 01.2em;
        font-size: 0.8em;
        color: white;

        img{
            width: 23px;
            margin-left: 0.4em;
        }
    }
    
    .header{
        padding-top: 20px;
        //margin-bottom: 20px
        padding-bottom: 20px;;
        border-bottom: 1px solid gainsboro;
        
        @include MQ(M){
            display: flex;
            justify-content: space-between;
        }
        
        .title{
            font-weight: 500;
            margin-bottom: 10px;
            
            @include MQ(M){
                margin-bottom: 0;
            }
        }
        
        .location-header{
            
            font-weight: 600;
            text-transform: uppercase;
            
            span{
                padding-left: 0.5em;
                font-size: 0.8em;
            }
            
            i{
                color: purple;
            }
        }
    }
    
    .subtitle{
        font-weight: 600;
        font-size: 1em;
        //margin-bottom: 0.5em;
        //padding-bottom: 1em;
        //border-bottom: 1px solid;
    }
    
    .courses{
        list-style-type: decimal;
        padding-left: 15px;
        
        li{
            float: left;
            width: 50%;
            font-size: 0.8em;
            font-weight: 500;
            padding: 0.5em 1em;
            margin-bottom: 0.8em;
        }
    }
    
    .social-section{
        li{
            font-size: 0.8em;
            margin-bottom: 1em;
            
            span{
                padding-left: 0.5em;
            }
        }
        
        a{
            display: flex;
        }
    }
    
    .contact-section{
        li{
            font-size: 0.8em;
            margin-bottom: 1em;
            
            .key{
                padding-right: 0.5em;
            }
            
            .value{
                font-size: 1em; 
                color: grey;
            }
        }
    }
    
    .cta{
        display: block;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.8em;
        padding: .8em 0;
    }
    
    .dropdown-action{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
        margin-bottom: 20px;
        border-bottom: 1px solid grey;
        text-transform: uppercase;
    }
    
    .course-type-list{
        li{
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid gainsboro;
            
            i{
                padding-right: 0.8em;
            }
        }
    }
    
    .address-list{
        li{
            margin-bottom: 10px;
            display: flex;
            line-height: 1.2em;
            
            &:before{
                content: "\f105";
                font-family: FontAwesome;
                padding-right: 0.8em;
                font-weight: 600;
            }
        }
    }
    
    .floating-footer{
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.course-directory-card{
    display: flex;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
    border-radius: 0.4em;
    overflow: hidden;
    
    transition: 0.3s ease all;
    
    &:hover{
        box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 4px 6px rgba(0,0,0,.2);
        transition: 0.3s ease all;
        color: black;
    }

    .image-box{
        position: relative;
        
        img{
            position: relative;
            z-index: 0;
            display: block;
        }
        
        .model{
            position: absolute;
            left: 0;
            bottom: 0;
            font-size: 0.6em;
            font-weight: 400;
            color: white;
            background-color: $blue;
            text-transform: uppercase;
            padding: 0.6em 0.8em;
            z-index: 1;
            
            &:before{
                content: "\f19d";
                font-family: FontAwesome;
                padding-right: 0.5em;
            }
        }
    }
    
    .course-info{
        padding: 0.8em;
        
        .title{
            font-weight: 500;
            margin-bottom: 10px;
        }
        .instructor{
            font-size: 0.8em;
            font-weight: 300;
            margin-bottom: 10px;
            .const{
                font-weight: 500;
            }
            .name{}
        }
        
        .skills{
            margin-bottom: 40px;
        }
        
        .skill-category{
            font-size: 0.7em;
            font-weight: 600;
            color: $blue;
            text-transform: uppercase;
            margin-bottom: 5px;
            
            .category{
                position: relative;
                padding-right: 0.5em;
                
                &:after{
                    content: "\f054";
                    font-family: FontAwesome;
                    color: grey;
                    padding-left: 0.5em;
                }
            }
            .sub-category{}
        }
        .level{
            color: grey;
            font-size: 0.8em;
            
        
        }
        
        .duration{
            color: grey;
            font-size: 0.8em;
        }
    }
    
    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.course-directory-card-spread{
    //padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid gainsboro;
    
    .image-box{
        position: relative;
        
        img{
            position: relative;
            z-index: 0;
            display: block;
        }
        
        .model{
            position: absolute;
            left: 0;
            bottom: 0;
            font-size: 0.6em;
            font-weight: 400;
            color: white;
            background-color: $blue;
            text-transform: uppercase;
            padding: 0.6em 0.8em;
            z-index: 1;
            
            &:before{
                content: "\f19d";
                font-family: FontAwesome;
                padding-right: 0.5em;
            }
        }
    }
    
    .course-info{
        .title{
            font-weight: 500;
            margin-bottom: 10px;
        }
        .instructor{
            font-size: 0.8em;
            font-weight: 300;
            margin-bottom: 30px;
            .const{
                font-weight: 500;
            }
            .name{}
        }
        .skill-category{
            font-size: 0.7em;
            font-weight: 600;
            color: $blue;
            text-transform: uppercase;
            margin-bottom: 10px;

            .category{
                position: relative;
                padding-right: 0.5em;

                &:after{
                    content: "\f054";
                    font-family: FontAwesome;
                    color: grey;
                    padding-left: 0.5em;
                }
            }
            .sub-category{}
        }
        .level{
            color: grey;
            font-size: 0.7em;
            text-transform: uppercase;
          
        }

        .duration{
            color: grey;
            font-size: 0.8em;
        }
    }
    
    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
    
}

.loader-container{
    position: relative;
    
    .loader{
        display: none;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        
        img{
            width: 80px;
        }
    }
}

.youth-dev-card{    
    
    .image-box{
        height: 240px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .header{
        padding: 30px 40px;
        min-height: 380px;
    }
    
    .title{
        padding-bottom: 20px;
        font-size: 1.5em;
        font-weight: 500;
    }
    
    .mid-banner{
        height: 40px;
    }
    
    .description{
        padding: 40px;
    }
}

.industry-card{
    display: flex;
    
    a{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1.2em;
        font-size: 0.9em;
        color: black;
        padding: 20px;
        background-color: white;
        border-radius: 2px;
        box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
        transition: box-shadow 83ms;
        
        &:hover{
            background-color: transparent;
            box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 4px 6px rgba(0,0,0,.2);
            transition: box-shadow 83ms;
        }
    }
}

.info-session-card{
    display: flex;
    
    .content{
        flex: 1;
        padding: 30px 20px;
        background-color: white;
        border-radius: 2px;
        box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
        transition: box-shadow 83ms;
        
        &:hover{
            box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 4px 6px rgba(0,0,0,.2);
            transition: box-shadow 83ms;
        }
        
        @include MQ(M){
            display: flex;
            flex-direction: column;
            
            .text-content{
                flex: 1;
            }
        }
        
        .title{
            margin-bottom: 20px;
        }
        
        .description{
            margin-bottom: 20px;
            
            p{
                font-size: 0.9em;
            }
        }
        
        .btn{
            margin: 0;
        }
        
        .btn:hover{
            background-color: $yellow;
            border-color: $yellow;
            color: white;
        }
    }
}

.topics-card{
    display: flex;
    color: black;
    background-color: ghostwhite;
    overflow: hidden;
    
    transition: 0.3s ease all;
    
    &:hover{
        color: black;
    }

    .image-box{
        position: relative;
        
        img{
            position: relative;
            z-index: 0;
            display: block;
        }
        
        .model{
            position: absolute;
            left: 0;
            bottom: 0;
            font-size: 0.6em;
            font-weight: 400;
            color: white;
            background-color: $blue;
            text-transform: uppercase;
            padding: 0.6em 0.8em;
            z-index: 1;
            
            &:before{
                content: "\f19d";
                font-family: FontAwesome;
                padding-right: 0.5em;
            }
        }
    }
    
    .course-info{
        padding: 0.8em;
        
        .title{
            font-weight: 500;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            &:after {
                content: "\f054";
                width: 2em;
                height: 2em;
                border: 2px solid black;
                border-radius: 50%;
                top: -0.4em;
                right: 0;
                color: inherit;
                font-size: 0.8em;
                font-family: FontAwesome; 
                padding: 0.5em 0.55em;
                transition: all 0.3s ease;
            }
        }
        .instructor{
            font-size: 0.8em;
            font-weight: 300;
            margin-bottom: 10px;
            .const{
                font-weight: 500;
            }
            .name{}
        }
        
        .skills{
            margin-bottom: 40px;
        }
        
        .skill-category{
            font-size: 0.7em;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 5px;
            
            .category{
                position: relative;
                padding-right: 0.5em;
                
                &:after{
                    content: "\f054";
                    font-family: FontAwesome;
                    color: grey;
                    padding-left: 0.5em;
                }
            }
            .sub-category{}
        }
        .level{
            color: grey;
            font-size: 0.8em;
            
        
        }
        
        .duration{
            color: grey;
            font-size: 0.8em;
        }
    }
    
    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.flip-card{
    position: relative;
    perspective: 100rem;
    -moz-perspective: 150rem;
//    /min-height: 280px;
    min-height: 430px;
    
    @include MQ(M){
        //min-height: 430px;
    }
    
    >*{
        backface-visibility: hidden;
        position: relative;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    
    .flip-trigger{
        cursor: pointer;
    }
    
    .front{
        transform: rotateY(0);
        transition: all 0.8s ease;
    }
    .back{
        position: absolute;
        background-color: black;
        transform: rotateY(180deg);
        transition: all 0.8s ease;
    }
    
    &.flipped{
            
        .front{
            transform: rotateY(180deg);
            transition: all 0.8s ease;
        }

        .back{
            transform: rotateY(0);
            transition: all 0.8s ease;
        }
    }
}

.card-shadow{
    background-color: white;
    padding: 20px;
    box-shadow: 0px 7px 20px 0px rgba(17,121,56,0.1);
}

.card-shadow-2{
    box-shadow: 0px 7px 20px 0px rgba(17,121,56,0.1);
}

.card-shadow-3{
    width: 100%;
    box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.2);
    transition: 0.3s ease all;
    
    &:hover{
        box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
        transition: 0.3s ease all;
    }
}

.card-shadow-4{
    box-shadow: 0px 2px 5px 0px rgba(74, 74, 74, 0.21);
}

.card-shadow-5{
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0.3s ease all;
    
    &:hover{
        box-shadow: -2px 8px 22px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 0.3s ease all;
    }
}

.generic-card-bg{
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    
    min-height: 240px;
    
    @include MQ(M){
        min-height: 0;
    }
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    &.h-180-480{
        min-height: 180px;
    
        @include MQ(M){
            min-height: 320px;
        }
    }
    
    &.align-bottom{
        align-items: flex-end;
    }
    
}

.forum-list{
    border-bottom: 1px solid lightgray;
    margin-bottom: 15px;
    padding-bottom: 15px;
    
    &:last-child{
        border: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    
    @include MQ(M){
        
    }
    
    .replies-section{
        
        @include MQ(M){
            text-align: right;
        }
    }
}

.success-keys-card{
    padding: 20px 20px 80px;
    border-top: 8px solid $yellow;
    
    .subtitle{
        font-size: 1rem;
        font-weight: 300;
        color: $txt_default;
        margin-bottom: 25px;
    }
    
    .title{
        font-size: 1.4rem;
        font-weight: 500;
        color: black;
        margin-bottom: 15px;
    }
    
    .description{
        font-size: 0.9rem;
        line-height: 1.7rem;
        color: $txt_default;
    }
    
    &.blue{
        border-color: $blue;
    }
    
    &.green{
        border-color: $green;
    }
    
    &.brown{
        border-color: $brown;
    }
}

.task-sample-output-card{
    padding: 20px 20px;
    border-top: 8px solid $yellow;
    
    .subtitle{
        font-size: 1rem;
        font-weight: 300;
        color: $txt_default;
        margin-bottom: 25px;
    }
    
    .title{
        font-size: 1.4rem;
        font-weight: 500;
        color: black;
        margin-bottom: 15px;
    }
    
    .description{
        font-size: 0.9rem;
        line-height: 1.7rem;
        color: $txt_default;
    }
    
    &.blue{
        border-color: $blue;
    }
    
    &.green{
        border-color: $green;
    }
    
    &.brown{
        border-color: $brown;
    }
}

.competency-card{
    display: block;
    text-align: center;
    
    .image-box{
        position: relative;
        
        figcation{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%)
        }
        
        img{
            width: 5rem;
        }
    
        span{
            display: block;
            
            &.level{
                font-size: 0.9rem;
                font-weight: 400;
                text-transform: uppercase;
                color: $txt_lighter;
                margin-bottom: 0.2rem;
            }
            
            &.number{
                font-size: 1.6rem;
                font-weight: 600;
            }
        }
    }
}

.task-project-card{
    background-color: ghostwhite;
    position: relative;
    display: block;
    flex: 1;
    padding: 100px 20px 20px;
    transition: 0.3s ease all;
    
    &:hover{
        background-color: #ececec;
        transition: 0.3s ease all;
    }
    
    svg{
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .title{
        color: black;
    }
    
    .description{
        color: $txt_default;
        font-weight: 400;
    }
}

.program-card-wrapper{
    
    @include MQ(M){
        border-bottom: 1px solid grey;
        padding-top: 15px;
        padding-bottom: 15px;
        
        &:last-child{
            padding-bottom: 0;
            border: 0;
        }
    }
}

.program-card{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    border-bottom: 1px solid gainsboro;
    
    @include MQ(M){
        border: 0;
        
        &:nth-child(4){
            .content{
                border: 0;
            }
        }
    }
    
    figcaption{
        padding-bottom: 30px;
    }
    
    .content{
        flex: 1;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        @include MQ(M){
            border: 0;
            border-right: 1px solid gainsboro;
        }
    }
    
    .date{
        font-size: 0.8rem;
        margin-bottom: 10px;
        color: $txt_light;
        
        .expires{
            font-weight: 500;
            color: red;
        }
        
        .opens{
            font-weight: 500;
            color: green;
        }
    }
    
    .header{
        margin-bottom: 20px;
    }
    
    .title{
        font-weight: 500;
        line-height: 1.2em;
        margin-bottom: 15px;
        
        a{
            color: black;
        }
    }
    
    .author{
        font-size: 0.8rem;
        font-weight: 500;
        padding-top: 20px;
    }
    
    .description{
        font-weight: 300;
        font-size: 0.8rem;
    }
    
    .image-box{
        img{
            height: 100px;
            width: auto;
        }
    }
    
    
    &.white{
        color: white;
        
        .title{
            a{
                color: white;
            }
        }
        
        .date{
            color: white;

            .expires{
                color: red;
            }

            .opens{
                color: green;
            }
        }
    }
}

.dashboard-partner-card{
    padding: 10px;
    border: 1px solid #f1f1f1;
    box-shadow: 0 3px 12px -2px rgba(0,0,0,0.08);
    transition: 150ms all ease;
    
    &:hover{
        box-shadow: 0 9px 17px rgba(50,50,93,0.1), 0 4px 7px rgba(0,0,0,0.07);
        transition: 150ms all ease;
    }
    
    .title{
        flex: 1;
        font-size: 0.9em;
        font-weight: 500;
        line-height: 1.2em;
        color: black;
        margin-left: 15px;
    }
}

.mentor-card{
   /* background-color: white;
    padding: 30px;*/
    
    .image-box{
        margin-bottom: 10px;
        
        img{
            //max-width: 8rem;
            border-radius: 50%;
            width: 50%;
            max-width: 100%;
            
            @include MQ(M){
               width: 100%;
            }
        }
    }
    
    .name{
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 10px;
    }
    
    .position{
        font-size: 0.8rem;
    }
}

.collapsible-card{
    margin-bottom: 10px;
    
    @include MQ(M){
        display: flex;
        flex: 1;
        margin-bottom: 40px;
    }
    
    .content{
        flex: 1;
        max-height: 0;
        overflow: hidden;
        transition: 0.3s ease all;

        @include MQ(M){
            height: auto;
            max-height: inherit;
        }
        
        .wrapper{
            padding: 20px;
            
            @include MQ(M){
                padding: 40px;
            }
        }
    }
    
    .header{
        display: flex;
        text-align: left;
        padding: 20px;
        cursor: pointer;
        align-items: center;
        
        @include MQ(M){
            display: none;
        }
    
        .cta{
            padding-right: 20px;
            
            &:after{
                content: "\f067";
                font-family: FontAwesome;
                transition: 0.3s ease all;
            }
        }

        .title{
            transition: 0.3s ease all;
        }
    }
    
    /* When card is open */
    &.open{
        .header{
            .title{
                transition: 0.3s ease all;
                opacity: 0;
            }
            
            .cta{
                &:after{
                    content: "\f068";
                    font-family: FontAwesome;
                    transition: 0.3s ease all;
                }
            }
        }
        
        .content{
            max-height: 100vh;
            transition: 0.3s ease all;
        }
    }
}

.track-action-card{
    box-shadow: 0 9px 17px rgba(50,50,93,0.1), 0 4px 7px rgba(0,0,0,0.07);
    padding: 20px;
    margin-bottom: 10px;
    
    @include MQ(M){
        display: flex;
        flex: 1;
        padding: 40px;
        margin-bottom: 40px;
    }
    
    .cta{
        a{
            position: relative;
            display: inline-block;
            padding-bottom: 0.8em;
            
            &:before{
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 1px;
                background-color: grey;
            }
        }
    }
}

.how-it-works-container{
    position: relative;
    padding-top: 2px;
    
    padding-left: 40px;
    padding-right: 40px;
    
    @include MQ(M){
        padding-left: 0px;
        padding-right: 0px;
    }
    
    &:before{
        @include MQ(M){
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            height: 2px;
            background-color: #d26819;
        }
    }
    
    .how-card{
        position: relative;
        display: flex;
        
        @include MQ(M){
            display: block;
        }
        
        .number{
            background-color: #848484;
            height: 2rem;
            width: 2rem;
            font-size: 1em;
            
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            
            
            @include MQ(M){
                position: absolute;
                height: 3rem;
                width: 3rem;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        
        .content{
            text-align: left;
            margin-bottom: 10px;
            padding-bottom: 10px;
            margin-left: 20px;
            flex: 1;
            border-bottom: 1px solid grey;
            
            @include MQ(M){
                text-align: center;
                padding: 60px 30px 30px 30px;
                margin-left: 0;
                border: 0;
            }
        }
    }
}

.market-category-list{
    
    .category-card{
        display: flex;
                
        .wrapper{
            flex: 1;
            font-size: 0.9rem;
            font-weight: 500;
            color: black;
            border: 0.5px solid rgba(0,47,52,.2);
            transition: 0.3s ease all;
                        
            .title{
                text-transform: uppercase;
                border-bottom: 0.5px solid rgba(0,47,52,.2);
                padding: 15px 15px;
            }
            
            .sub-category-list{
                padding: 15px;
                
                li{
                    a{
                        display: block;
                        color: rgba(0,47,52,.64);
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    
     a{
        &:hover{
            color: black;
            transition: 0.3s ease all;
        }
    }
}

.marketplace-cards{
    
    li{
        display: flex;
        flex: 1;
        
        >*{
            flex: 1;
            display: flex;
            flex-direction: column;
            color: dimgrey;
            border: 0.5px solid rgba(0,47,52,.2);
            transition: 0.3s ease all;
            
            &:hover{
                border-color: black;
                transition: 0.3s ease all;
            }
            
            figure{
                background-size: cover !important;
                background-position: center !important;
                background-repeat: no-repeat !important;
                height: 150px;
            }
            
            .content{
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 15px 10px;
                
                
                .top{
                    .type{
                        font-size: 0.8rem;
                        margin-bottom: 5px;
                    }
                    
                    .title{
                        font-size: 0.9rem;
                        font-weight: 500;
                        text-transform: uppercase;
                        color: black;
                        margin-bottom: 15px;
                    }
                }
                
                .bottom{
                    display: flex;
                    justify-content: space-between;
                    font-size: 0.8rem;
                }
            }
        }
    }
}

.marketplace-service-cards{
    
    li{
        display: flex;
        >*{
            flex: 1;
            display: flex;
            flex-direction: column;
            color: dimgrey;
            border: 0.5px solid rgba(0,47,52,.2);
            transition: 0.3s ease all;
            
            &:hover{
                border-color: black;
                transition: 0.3s ease all;
            }
            
            .service-img {
                background-size: cover !important;
                background-position: center !important;
                background-repeat: no-repeat !important;
                height: 150px;
            }
            
            .content{
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 15px 10px;
                
                
                .top{
                    .avatar{
                        display: flex;
                        align-items: center;
                        margin-bottom: 12px;
                        
                        figure{
                            background-size: cover !important;
                            background-position: center !important;
                            background-repeat: no-repeat !important;
                            width: 1.5rem;
                            height: 1.5rem;
                            border-radius: 50%;
                        }
                        
                        .name{
                            padding-left: 10px;
                            flex: 1;
                            font-size: 0.8rem;
                        }
                    }
                    
                    .title{
                        font-size: 0.9rem;
                        font-weight: 500;
                        line-height: 1.4;
                        color: black;
                        margin-bottom: 30px;
                    }
                }
                
                .bottom{
                    display: flex;
                    justify-content: space-between;
                    font-size: 0.75rem;
                }
            }
        }
    }
}

.marketplace-freelancer-cards{
    >*{
        display: block;
        
    }
    
    .wrapper{
        display: flex;
        align-items: center;
        padding: 10px;
        border: 1px solid gainsboro;
    }
    
    .image{
        margin-right: 10px;
        
        .freelancer-img{
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 50%;

            width: 3rem;
            height: 3rem;
        }
    }
    
    .name{
        font-size: 1rem;
        font-weight: 500;
        color: black;
        margin-bottom: 5px;
    }
    
    .bottom{
        .location{
            font-size: 0.7rem;
            color: dimgray;
        }
    }
    
    .services{
        color: black;
        font-size: 0.75rem;
        font-weight: 500;
        line-height: 1.4em;
        padding: 10px;
        background-color: gainsboro;
    }
}

.marketplace-job-cards{
    li{
        >*{
            flex: 1;
            padding: 15px;
            border: 1px solid gainsboro;

        }
    }
    
    .image{
        margin-right: 10px;
        
        .freelancer-img{
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 50%;

            width: 3rem;
            height: 3rem;
        }
    }
    
    .title{
        font-size: 1rem;
        font-weight: 500;
        color: black;
        margin-bottom: 10px;
    }
    
    .employer{
        font-size: 0.9rem;
        color: black;
        margin-bottom: 10px;
    }
    
    .location{
        font-size: 0.8rem;
        color: black;
        margin-bottom: 10px;
    }
    
    .post-time{
        font-size: 0.8rem;
        font-size: 0.7rem;
        color: black;
    }
}

.home-community-card{
    flex: 1;
    display: flex;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
    overflow: hidden;
    
    transition: 0.3s ease all;
    
    &:hover{
        transition: 0.3s ease all;
    }
    
    .content{
        flex: 1;
    }

    .image-box{
        position: relative;
        height: 120px;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }
    
    .info{
        padding: 1.2em;
        
        .title{
            font-weight: 500;
            line-height: 1.2em;
            margin-bottom: 20px;
        }
    }
    
    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


.change-round-card{
	flex: 1;
	text-align: center;
	
	.image{
		display: inline-block;
		height: 14em;
		width: 14em;
		border-radius: 50%;
		overflow: hidden;
		
		figure{
			background-position: center !important;
			background-repeat: no-repeat !important;
			background-size: cover !important;
			width: 100%;
			height: 100%;
		}
	}
	
	.title{
		font-weight: 600;
		color: black;
		padding-top: 40px;
	}
}

.change-two-card{
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	
	position: relative;
	min-height: 70vh;
	display: flex;
	align-items: center;
	
	&:before{
		content: "";
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: black;
		opacity: 0.6;
    }
	
	.content{
		position: relative;
		z-index: 10;
	}
}

.image-shadow{
	box-shadow: 0px 70px 100px -40px rgba(0, 0, 0, 0.5);
}

.venture-resource-card{
    flex: 1;
    display: block;
    text-align: center;
    padding: 30px;
    box-shadow: 0 1px 6px rgba(57,73,76,.35);
    transition: all 0.3s ease;
    
    &:hover{
        box-shadow: 0 2px 10px 1px rgba(57,73,76,.4), 0 1px 2px rgba(57,73,76,.25);
        transition: all 0.3s ease;
    }
    
    figure{
        margin-bottom: 20px;
        
        img{
            width: 3.5em;
        }
    }
    
    .title{
        font-size: 0.95em;
        color: $txt_light;
    }
}

.venture-request-card{
    flex: 1;
    display: block;
    padding: 30px;
    border: 1px solid rgba(0,0,0,.04);
    box-shadow: 2px 5px 11px 0 rgba(232,232,232,.79);
    cursor: pointer;
    transition: all 0.3s ease;
    
    &:hover{
        box-shadow: 0 18px 35px rgba(50,50,93,.1), 0 8px 15px rgba(0,0,0,.07);
        transition: all 0.3s ease;
    }
    
    .title{
        font-size: 0.95em;
        color: $txt_light;
    }
}

.venture-request-filter{
    box-shadow: 2px 5px 11px 0 rgba(232,232,232,.79);
}

.venture-request-detail{
    position: fixed;
    z-index: 1001;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: white;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    
    @include MQ(M){
        width: 400px;
    }
    
    &.open{
        transform: translateX(0);
        transition: transform 0.3s ease;
    }
}

.overlay{
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.8;
}

.personal-project-card{
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid gainsboro;
    
    .top{
        flex: 1;
        padding: 20px;
    }
    
    .bottom{
        padding: 20px;
        background-color: #f5f5f5;
        
        .category{
            text-align: center;
            li{
                display: inline-block;
                font-size: 0.8em;
                font-weight: 500;
                padding-right: 10px;
                margin-right: 10px;
                border-right: 1px solid black;
                
                &:last-child{
                    border: 0;
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
}

.info-program-card{
    flex: 1;
    border: 1px solid gainsboro;
    background-color: white;
    
    figure{
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        position: relative;
        height: 200px;
        
        .flash{
            position: absolute;
            top: 15px;
            right: 15px;
            border-radius: 2em;
        }
    }
}


.ynl-home-card{
    display: flex;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
    border-radius: 0.4em;
    overflow: hidden;
    
    transition: 0.3s ease all;
    
    &:hover{
        box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 4px 6px rgba(0,0,0,.2);
        transition: 0.3s ease all;
        color: black;
    }
    
    .content{
        flex: 1;
    }

    .image-box{
        position: relative;
        
        height: 300px;
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        
        .category{
            position: absolute;
            right: 15px;
            top: 15px;
            font-size: 0.8em;
            font-weight: 400;
            color: black;
            background-color: white;
            text-transform: uppercase;
            padding: 0.75em 1em;
            border-radius: 0.5em;
            z-index: 1;
        }
    }
    
    .course-info{
        padding: 0.8em;
        
        .title{
            font-weight: 500;
            margin-bottom: 10px;
        }
        .instructor{
            font-size: 0.8em;
            font-weight: 300;
            margin-bottom: 10px;
            .const{
                font-weight: 500;
            }
            .name{}
        }
        
        .skills{
            margin-bottom: 40px;
        }
        
        .skill-category{
            font-size: 0.7em;
            font-weight: 600;
            color: $blue;
            text-transform: uppercase;
            margin-bottom: 5px;
            
            .category{
                position: relative;
                padding-right: 0.5em;
                
                &:after{
                    content: "\f054";
                    font-family: FontAwesome;
                    color: grey;
                    padding-left: 0.5em;
                }
            }
            .sub-category{}
        }
        .level{
            color: grey;
            font-size: 0.8em;
            
        
        }
        
        .duration{
            color: grey;
            font-size: 0.8em;
        }
    }
    
    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.ynl-theme-challenges-card{
    flex: 1;
    display: flex;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
    border-radius: 0.4em;
    overflow: hidden;
    
    transition: 0.3s ease all;
    
    &:hover{
        box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 4px 6px rgba(0,0,0,.2);
        transition: 0.3s ease all;
        color: black;
    }
    
    .content{
        flex: 1;
        padding: 30px;
    }

    .image-box{
        position: relative;
        
        height: 300px;
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        
        .category{
            position: absolute;
            right: 15px;
            top: 15px;
            font-size: 0.8em;
            font-weight: 400;
            color: black;
            background-color: white;
            text-transform: uppercase;
            padding: 0.75em 1em;
            border-radius: 0.5em;
            z-index: 1;
        }
    }
    
    .course-info{
        padding: 0.8em;
        
        .title{
            font-weight: 500;
            margin-bottom: 10px;
        }
        .instructor{
            font-size: 0.8em;
            font-weight: 300;
            margin-bottom: 10px;
            .const{
                font-weight: 500;
            }
            .name{}
        }
        
        .skills{
            margin-bottom: 40px;
        }
        
        .skill-category{
            font-size: 0.7em;
            font-weight: 600;
            color: $blue;
            text-transform: uppercase;
            margin-bottom: 5px;
            
            .category{
                position: relative;
                padding-right: 0.5em;
                
                &:after{
                    content: "\f054";
                    font-family: FontAwesome;
                    color: grey;
                    padding-left: 0.5em;
                }
            }
            .sub-category{}
        }
        .level{
            color: grey;
            font-size: 0.8em;
            
        
        }
        
        .duration{
            color: grey;
            font-size: 0.8em;
        }
    }
    
    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.ynl-partner-cards{
    display: flex;
    flex-direction: column;
    
    @include MQ(L){
        flex-direction: row;
        align-items: center;
    }
    
    .ynl-partner-card{
        border-radius: 12px;
        flex: 1;
        transition: all 0.3s ease;
        
        @include MQ(L){
            
            &.shrink{
                transform: scale(0.88);
                transition: all 0.3s ease;
            }
            
            &.grow{
                transform: scale(1.12);
                transition: all 0.3s ease;
            }
        }
    }
}

.project-update-card{
    position: relative;
    display: flex;
    align-items: flex-end;
    color: white;
    padding: 20px;
    min-height: 300px;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border-radius: 0.5em;
    
    &:before{
        content: "";
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        opacity: 0.4;
    }
    
    img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    >*{
        position: relative;
        z-index: 1;
    }
}

.dashboard-grey-card {
    flex: 1;
    border-radius: 0.5em;
    box-shadow: 0px 3px 6px #00000029;
    overflow: hidden;
}