/*
*
*Container BEGIN
*
*/
.left-content{
    padding-left: 15px;
    padding-right: 15px;
    
    @include MQ(M){
        padding-left: 80px;
        padding-right: 40px;
    }
}

.left-content-inverse{
    @include MQ(M){
        padding-left: 40px;
    }
}

.right-content{
    padding-left: 15px;
    padding-right: 15px;
    
    @include MQ(M){
        padding-left: 40px;
        padding-right: 40px;
        min-height: 280px;
    }
    
    .title{
        font-size: 1em;
        font-weight: 500;
        margin-bottom: 20px;
    }
}

.cta-block{
    padding: 40px 20px;
    
    @include MQ(M){
        padding: 40px;
        min-height: 430px;
    }
    
    &.sm{
        @include MQ(M){
            min-height: 380px;
        }
    }
    
    .title{
        font-size: 1.5em;
        font-weight: 500;
        margin-bottom: 20px;
    }
    
    .content{
        font-size: 1em;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 40px;
    }
    
    .cta-btn{
        display: inline-block;
        border: 0.5px solid white;
        border-radius: 20px;
        background-color: rgba(0,0,0,0);
        color: white;
        padding: 12px 30px;
        font-weight: 500;
        transition: all 0.4s ease;

        &:hover{
            transition: all 0.4s ease;
            background-color: white;
        }
    }
    
    &.fluid{
        min-height: 0;
        padding: 20px unset;
    }
}

.cta-block.cta-blue{
    background-color: $blue;
    
    .title{
        color: white;
    }
    
    .content{
        color: white;
    }
    
    .cta-btn{
        &:hover{
            transition: all 0.4s ease;
            color: $blue;
        }
    }       
}

.side-nav-container{
    padding: 40px 15px;
    
    @include MQ(M){
        padding: 40px 40px 40px 80px;
    }
}

.feature-video-block{
    display: block;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    min-height: 280px;
    
    @include MQ(M){
        min-height: 450px;
    }
    
    &.sm{
        @include MQ(M){
            min-height: 380px;
        }
    }
    
    .play-btn{
        position: absolute;
        top: 20px;
        left: 20px;
        background-color:  rgba(0,0,0,0.5);
        width: 2em;
        height: 2em;
        border-radius: 50%;
        font-size: 1.8em;
        z-index: 5;
        color: white;
        text-align: center;
        
        @include MQ(M){
            top: 40px;
            left: 40px;
        }
        
        i{
            font-size: 0.7em;
            
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        .month{
            font-size: 0.7rem;
            margin-bottom: 5px;
        }
        
        .day{
            font-size: 1.2rem;
            font-weight: 600;
        }
    }
    
    .caption{
        position: absolute;
        left: 20px;
        bottom: 20px;
        z-index: 5;
        
        @include MQ(M){
            left: 40px;
            bottom: 40px;
        }
    }
    
    .title{
        font-size: 1.5rem;
        line-height: 1.7;
        font-weight: 500;
    }
    
    .subtitle{
        font-size: 1em;
        line-height: 1.7;
        font-weight: 400;
    }
    
    &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        opacity: 0;
        z-index: 0;
        transition: all 0.4s ease;
    }
    
    &:hover{
        &:after{
            opacity: 1;
            transition: all 0.4s ease;
        }   
    }
}

.feature-image-block{
    display: block;
    position: relative;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    min-height: 280px;
    padding: 20px;
    
    @include MQ(M){
        min-height: 430px;
        padding: 40px;
    }
    
    &.sm{
        min-height: auto;
        flex: 1;
    }
    
    &.no-overlay{
        &:after{
            display: none;
        }
    }
    
    &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 0;
        transition: all 0.4s ease;
    }
    
    &.overlay-dark{
        &:after{
            background-color: rgba(0,0,0,0.7);
        }
    }
    
    &.overlay-blue{
        &:after{
            background-color: #004958;
            opacity: 0.9;
        }
    }
    
    &.overlay-dark-blue{
        &:after{
            background-color: #04313c;
            opacity: 0.9;
        }
    }
    
    .caption{
        position: absolute;
        left: 20px;
        bottom: 20px;
        z-index: 5;
        
        @include MQ(M){
            left: 40px;
            bottom: 40px;
        }
    }
    
    .content{
        position: relative;
        z-index: 1;
    }
    
    .event-title{
        display: flex;
        align-items: center;
        
        .date-label{
            text-align: center;
            font-size: 0.7rem;
            margin-bottom: 0.3rem;
        }
        
        .event-date-wrapper{
            margin-right: 0.5em;
        }
        
        .play-btn{
            position: relative;
            background-color:  rgba(0,0,0,0.5);
            width: 2.5em;
            height: 2.5em;
            border-radius: 50%;
            font-size: 1.8em;
            z-index: 5;
            color: white;
            text-align: center;
            

            i{
                font-size: 0.7em;

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .month{
                font-size: 0.65rem;
                margin-bottom: 5px;
            }

            .day{
                font-size: 1.2rem;
                font-weight: 600;
            }
            
            .expired{
                font-size: 0.7rem;
                color: yellow;
                margin-bottom: 5px;
            }
        }
        
        .title{
            flex: 1;
        }
    }
}

.featured-article{
    display: block;
    
    .image-box{
        position: relative;
        margin-bottom: 15px;
        
        img{
            display: block;
        }
    }
    
    .caption{
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 10px;
        background-color: $blue;
        color: white;
        font-size: 0.9em;
        font-weight: 500;
    }
    
    .caption-icon{
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: $blue;
        color: white;
        font-size: 0.9em;
        font-weight: 500;
        padding: 10px 40px 10px 10px;
        
        &:after {
            position: absolute;
            border-left: 1px solid white;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            color: inherit;
            font-size: 1em;
            font-family: FontAwesome; 
            padding: 10px;
        }
        
        &.caption-podcast{
            &:after {
                content: "\f130";
            }
        }
        
        &.caption-video{
            &:after {
                content: "\f04b";
            }
        }
    }
    
    .title{
        font-weight: 600;
        line-height: 1.2em;
        color: black;
        margin-bottom: 10px;
    }
    
    .title-lg{
        font-weight: 600;
        line-height: 1.1em;
        text-decoration: underline;
        color: black;
        margin-bottom: 10px;
        
        @include MQ(M){
            font-size: 1.8em;
        }
    }
    
    .date{
        font-size: 0.9em;
        font-weight: 500;
        color: $txt_lighter;
    }
}

.newsroom-card{
    overflow: hidden;
    
    img{
        margin-bottom: 20px;
        
        @include MQ(M){
            float: right;
            margin-bottom: 0;
        }
    }
    
    .subtitle{
        background-color: purple;
        color: white;
        display: inline-block;
        font-size: 0.7em;
        padding: 0.5em 1em;
    }
}

.pre-footer{
    display: flex;
    align-items: center;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 320px;
    padding: 20px;
    
    @include MQ(M){
        min-height: 450px;
        padding: 40px;
    }
    
    &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 0;
        transition: all 0.4s ease;
    }
    
    .content{
        position: relative;
        width: 100%;
        z-index: 1;
        
        .title{
            color: white;
            margin-bottom: 20px;
            font-size: 2.25rem;
            line-height: 1.16666667;
            line-height: 1.16666667;
            margin: 0 0 35px 0;
            font-weight: 500;
        }
        
        .btn-wrapper{
            >*{
                margin-right: 10px;
                margin-bottom: 10px;
            }
        }
    }
    
    &.lg{
        @include MQ(M){
            padding: 40px 80px;
        }
    }
}

.bg-home{
    display: block;
    position: relative;
    background-position: top;
    background-repeat: no-repeat !important;
    background-size: cover;
    min-height: 280px;
    display: flex;
    align-items: center;
    
    @include MQ(M){
        min-height: 50vh;
    }
    

    
    .content{
        position: relative;
        z-index: 1;
    }
}

.event-meta{
    font-weight: 300;
    font-size: 0.85rem;
    
    padding: 1em;
    background-color: rgba(0,0,0,0.3);
    border-radius: 0.4em;
    
    >*{
        margin-bottom: 0.4em;
    }
    
    .meta-item{
    
    }
    
    .meta-terms{
        .title{
            font-weight: 600;
            padding-right: 0.4em;
        }
    }
}

.support-list{
    @include MQ(M){
        padding-left: 20px;
    }
}

.image-bg{
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    
    position: relative;
    
    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        opacity: 0.9;
    }
    
    .content{
        position: relative;
        z-index: 0;
    }
}


.home-content{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    overflow-y: scroll;
    
     @include MQ(M){
        height: auto;
        display: block;
        padding-top: 115px;
        overflow-y: visible;
    }
    
    .header-section{
        flex: 1;
    }
}

.other-forums-sticky{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.dashboard-multi-header{
    position: fixed;
    width: 100%;
    z-index: 10;
    height: 62px;
    
    .title{
        color: white;
    }
}

.dashboard-multi-main-menu{
    width: 100%;
    
    margin-bottom: 15px;
    border: 1px solid gainsboro;
    background-color: #5a5a5a;
    
    @include MQ(M){
        display: block;
        border: 0;
        border-right: 1px solid gainsboro;
        padding: 40px 0; 
        margin: 0;
        width: 20%;
    }
    
    .cv-menu-toggle{
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #5a5a5a;
        padding: 15px;
        font-size: 1.1rem;
        font-weight: 500;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        
        &:after{
            content: "\f107";
            font-family: Fontawesome;
        }
        
        @include MQ(M){
            display: none;
        }
    }
    
    .user-info-wrapper{
        display: none;
        
        @include MQ(M){
            display: block;
            padding-left: 40px;
            padding-right: 40px;
        }
    }
    
    .avatar{
        margin-bottom: 15px;
        text-align: center;
        display: none;
        
        @include MQ(M){
            display: block;
            text-align: left;
            padding-left: 80px;
            padding-right: 40px;
        }
        
        
        .img{
            position: relative;
            display: inline-block;
            border-radius: 50%;
            background-color: gainsboro;
            width: 8em;
            height: 8em;
            
            background-position: center !important;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            
            .edit{
                position: absolute;
                left: 50%;
                bottom: 10%;
                transform: translateX(-50%);
                font-size: 1.25em;
            }
        }
        
    }
    
    .user-info{
        text-align: center;
        margin-bottom: 20px;
        
        .name{
            position: relative;
            font-size: 0.9em;
            font-weight: 600;
            color: black;
            display: inline-block;
            background-color: #f4c026;
            padding: 0.5em 2em 0.5em 0.5em;
            
            &.nysc{
                background-color: $blue;
            }
            
            .edit{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0.75em;
            }
        }
    }
    
    .nav-wrapper{
        position: fixed;
        z-index: 100;
        top: 70px;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: auto;
        display: none;
        padding-top: 15px;
        background-color: #5a5a5a;

        @include MQ(M){
            position: static;
            display: block;
            padding: 0;
        }
        
        ul{

            &.nysc{
                
                li{
                    a{
                        &.active{
                            color: black;
                            background-color: $bg_grey;

                            &:before{
                                content: "";
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                width: 2px;
                                background-color: $blue;
                            }
                        }
                    }
                }
            }
            
            li{
                a{
                    display: block;
                    position: relative;
                    font-size: 0.8rem;
                    font-weight: 500;
                    color: white;
                    padding: 15px;
                    display: flex;
                    justify-content: space-between;

                    @include MQ(M){
                        padding: 15px 40px;
                    }

                    &.active{
                        color: black;
                        background-color: $bg_grey;

                        &:before{
                            content: "";
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            width: 2px;
                            background-color: $yellow;
                        }
                        
                        &:after{
                            color: black !important;
                        }
                    }

                    &.has-child{
                        &:after{
                            content: "\f107";
                            font-family: Fontawesome;
                            color: white;
                        }
                    }
                }
            }

            .sub-list{
                background-color: #fbfbfb;
                padding-bottom: 10px;

                li{
                    a{

                        font-size: 0.75em;
                        font-weight: 400;
                        padding-bottom: 0;
                        color: black;

                        &:after{
                            content: "";
                        }
                    }
                }
            }
        }
    }
}

.dashboard-multi-main-menu-light{
    width: 100%;
    
    margin-bottom: 15px;
    border: 1px solid gainsboro;
    
    @include MQ(M){
        display: block;
        border: 0;
        border-right: 1px solid gainsboro;
        padding: 40px 0; 
        margin: 0;
        width: 20%;
    }
    
    .cv-menu-toggle{
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #5a5a5a;
        padding: 15px;
        font-size: 1.1rem;
        font-weight: 500;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        
        &:after{
            content: "\f107";
            font-family: Fontawesome;
        }
        
        @include MQ(M){
            display: none;
        }
    }
    
    .user-info-wrapper{
        display: none;
        
        @include MQ(M){
            display: block;
            padding-left: 40px;
            padding-right: 40px;
        }
    }
    
    .avatar{
        margin-bottom: 15px;
        text-align: center;
        display: none;
        
        @include MQ(M){
            display: block;
            text-align: left;
            padding-left: 80px;
            padding-right: 40px;
        }
        
        
        .img{
            position: relative;
            display: inline-block;
            border-radius: 50%;
            background-color: gainsboro;
            width: 8em;
            height: 8em;
            
            background-position: center !important;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            
            .edit{
                position: absolute;
                left: 50%;
                bottom: 10%;
                transform: translateX(-50%);
                font-size: 1.25em;
            }
        }
        
    }
    
    .user-info{
        text-align: center;
        margin-bottom: 20px;
        
        .name{
            position: relative;
            font-size: 0.9em;
            font-weight: 600;
            color: black;
            display: inline-block;
            background-color: #f4c026;
            padding: 0.5em 2em 0.5em 0.5em;
            
            &.nysc{
                background-color: $blue;
            }
            
            .edit{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0.75em;
            }
        }
    }
    
    .nav-wrapper{
        position: fixed;
        z-index: 100;
        top: 70px;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: auto;
        display: none;
        padding-top: 15px;

        @include MQ(M){
            position: static;
            display: block;
            padding: 0;
        }
        
        ul{

            &.nysc{
                
                li{
                    a{
                        &.active{
                            color: black;
                            background-color: $bg_grey;

                            &:before{
                                content: "";
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                width: 2px;
                                background-color: $blue;
                            }
                        }
                    }
                }
            }
            
            li{
                a{
                    display: block;
                    position: relative;
                    font-size: 0.8rem;
                    font-weight: 500;
                    color: black;
                    padding: 15px;
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid gainsboro;

                    @include MQ(M){
                        padding: 15px 40px;
                    }

                    &.active{
                        color: black;
                        background-color: $bg_grey;

                        &:before{
                            content: "";
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            width: 2px;
                            background-color: $yellow;
                        }
                        
                        &:after{
                            color: black !important;
                        }
                    }

                    &.has-child{
                        &:after{
                            content: "\f107";
                            font-family: Fontawesome;
                            color: black;
                        }
                    }
                }
            }

            .sub-list{
                background-color: #fbfbfb;
                padding-bottom: 10px;

                li{
                    a{

                        font-size: 0.75em;
                        font-weight: 400;
                        padding-bottom: 0;
                        color: black;
                        border: 0;

                        &:after{
                            content: "";
                        }
                    }
                }
            }
        }
    }
}

.dashboard-multi-main-content {
    padding: 20px 15px;
    
    @include MQ(M){
        padding: 40px;
        width: 55%;
        
        &.full{
            width: 80%;
            padding-right: 80px;
        }
    }
    
    .page-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        
        .page-title{
            font-size: 1.2em;
            font-weight: 500;
        }
        
        .cta{
            .cta-btn{
                font-size: 0.7rem;
                color: black;
                padding: 0.5em 1em;
                border: 1px solid black;
                border-radius: 4px;
                transition: all 0.4s ease;

                &:hover{
                    color: white;
                    background-color: #5a5a5a;
                    border-color: #5a5a5a;
                    transition: all 0.4s ease;
                }
            }
        }
    }
    
    .page-summary{
        margin-bottom: 40px;
        p{
            font-size: 0.9em;
        }
    }
    
    .sub-nav{
        ul{
            overflow: hidden;
            border-bottom: 2px solid gainsboro;
            margin-bottom: 40px;

            li{
                float: left;

                a{
                    display: block;
                    padding-bottom: 20px;
                    margin-right: 20px;
                    font-size: 0.9em;
                    font-weight: 500;

                    &.active{
                        border-bottom: 2px solid $yellow;
                    }
                }
            }
        }
    }
    
    .section-wrapper{
        margin-bottom: 20px;
        border: 1px solid gainsboro;
        border-radius: 4px;
        
        &:last-child{
            margin-bottom: 0;
        }
        
        .header{
            font-size: 1rem;
            font-weight: 500;
            padding: 15px;
            border-bottom: 1px solid gainsboro;
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .section-wrapper-title{
                color: $yellow;
            }
            
        }
        
        .entry{
            padding: 15px;
            border-bottom: 1px solid gainsboro; 
            
            &:last-child{
                border-bottom: 0;
                padding-bottom: 0;
            }
        }
        
        .edit-btn{
            font-size: 0.7rem;
            color: $yellow;
            padding: 0.5em 1em;
            border: 1px solid $yellow;
            border-radius: 4px;
            transition: all 0.4s ease;

            &:hover{
                color: white;
                background-color: $yellow;
                transition: all 0.4s ease;
            }
        }
        
        .delete-btn{
            font-size: 0.7rem;
            color: red;
            padding: 0.5em 1em;
            border: 1px solid red;
            border-radius: 4px;
            transition: all 0.4s ease;

            &:hover{
                color: white;
                background-color: red;
                transition: all 0.4s ease;
            }
        }
    }
}

.dashboard-multi-main-sidebar{
    padding: 20px 15px;
    
    @include MQ(M){
        width: 25%;
        padding-right: 80px;
    }
    
    .side-bar-card{
        padding: 20px;
        margin-bottom: 20px;
        border: 1px solid $yellow;
        
        &:last-child{
            margin-bottom: 0;
        }
    }
}


/* Marketplace */
.marketplace-main-menu{
    padding: 15px;
    margin: 15px 0;
    border: 1px solid gainsboro;
    
    @include MQ(M){
        border: 0;
        border-right: 1px solid gainsboro;
        padding: 40px 20px 0 0; 
        margin: 0;
    }
    
    .cv-menu-toggle{
        font-size: 1.1rem;
        font-weight: 500;
        color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        &:after{
            content: "\f107";
            font-family: Fontawesome;
        }
        
        @include MQ(M){
            display: none;
        }
    }
    
    ul{
        display: none;
        padding-top: 15px;
        
        @include MQ(M){
            display: block;
            padding: 0;
        }
        
        li{
            a{
                display: block;
                position: relative;
                font-size: 0.8rem;
                font-weight: 500;
                color: $txt_lighter;
                padding: 15px;
                
                &.active{
                    color: black;
                    background-color: $bg_grey;
                    
                    &:after{
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        width: 2px;
                        background-color: $yellow;
                    }
                }
            }
        }
    }
}

.marketplace-main-content {
    
    padding: 20px 0;
    
    @include MQ(M){
        padding: 40px 0 40px 40px;
    }
    
    .section-wrapper{
        margin-bottom: 20px;
        border: 1px solid gainsboro;
        border-radius: 4px;
        
        &:last-child{
            margin-bottom: 0;
        }
        
        .header{
            font-size: 1rem;
            font-weight: 500;
            padding: 15px;
            border-bottom: 1px solid gainsboro;
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .section-wrapper-title{
                color: $career_purple;
            }
            
        }
        
        .entry{
            padding: 15px;
            border-bottom: 1px solid gainsboro; 
            
            &:last-child{
                border-bottom: 0;
                padding-bottom: 0;
            }
        }
        
        .edit-btn{
            font-size: 0.7rem;
            color: $career_purple;
            padding: 0.5em 1em;
            border: 1px solid $career_purple;
            border-radius: 4px;
            transition: all 0.4s ease;

            &:hover{
                color: white;
                background-color: $career_purple;
                transition: all 0.4s ease;
            }
        }
        
        .delete-btn{
            font-size: 0.7rem;
            color: red;
            padding: 0.5em 1em;
            border: 1px solid red;
            border-radius: 4px;
            transition: all 0.4s ease;

            &:hover{
                color: white;
                background-color: red;
                transition: all 0.4s ease;
            }
        }
    }
}


/* Job */
.job-sub-nav{
    ul{
        overflow: hidden;
        border-bottom: 2px solid gainsboro;

        li{
            float: left;

            a{
                display: flex;
                align-items: center;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-right: 30px;
                font-size: 0.9em;
                font-weight: 500;
                border-bottom: 4px solid transparent;

                &.active{
                    color: black;
                    border-color: $yellow;
                    
                    .count{
                        background-color: $yellow;
                        color: black;
                    }
                }
                
                .count{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-height: 2em;
                    padding: 0.7em;
                    height: 2em;
                    font-size: 0.8em;
                    color: white;
                    border-radius: 2em;
                    background-color: $ash;
                    margin-left: 0.75em;
                }
            }
        }
    }
}

/**/
.full-page-section{
    position: relative;
    height: 100vh;
    overflow: hidden;
    
    .full-page-section-item{
        height: 100vh;
        display: flex;
        background-color: white;

        .parent-name{
            font-weight: 500;
            margin-bottom: 10px;
            
            a{
                color: $txt_light;
            }
        }

        .content{
            flex: 1;
            display: flex;
            align-items: center;

            .wrapper{
                padding: 20% 100px;
            }
            
            
        }

        .image{
            flex: 1;
            background-color: gainsboro;
            background-size: cover !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
        }

    }
    
    .next-label{
        padding: 20px 20px 20px;
        background-color: white;
        position: absolute;
        z-index: 30;
        bottom: 0;
        left: 40px;
        right: 40px;
        -moz-box-shadow: 0 3px 6px 0 rgba(0,0,0,.2);
        -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,.2);
        box-shadow: 0 3px 6px 0 rgba(0,0,0,.2);
        transition: all 0.3s ease;
        
        &:hover{
            bottom: 0;
            transition: all 0.3s ease;
            
            .list{
                max-height: 100vh;
                height: 100%;
                transition: all 1s linear;
            }
        }
        
        .next{
            font-size: 1.1em;
            font-weight: 500;
            color: $txt_light;            
        }
        
        .list{
            //padding: 0 20px;
            display: block;
            overflow: hidden;
            max-height: 0;
            transition: all 0.3s linear;
            
            li{
                display: block;
                
                &:first-child{
                    margin-top: 40px;
                }
                
                a{
                    display: flex;
                    justify-content: space-between;
                    font-size: 0.9em;
                    font-weight: 500;
                    color: black;
                    margin-bottom: 20px;
                    
                    &:after{
                        content: "\f178";
                        font-family: Fontawesome;
                    }
                }
            }
        }
    }
}

.full-page-section-change{
    position: relative;
    height: 100vh;
    overflow: hidden;
    
    .full-page-section-item{
        height: 100vh;
        display: flex;
        background-color: white;

        .parent-name{
            font-weight: 500;
            margin-bottom: 10px;
            
            a{
                color: $txt_light;
            }
        }

        .content{
            flex: 1;
            display: flex;

            .wrapper{
                padding: 10% 100px;
            }
            
            
        }

        .image{
            flex: 1;
            background-color: gainsboro;
            background-size: cover !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
        }

    }
    
    .next-label{
        padding: 20px 20px 20px;
        background-color: white;
        position: absolute;
        z-index: 30;
        bottom: 0;
        left: 40px;
        right: 40px;
        -moz-box-shadow: 0 3px 6px 0 rgba(0,0,0,.2);
        -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,.2);
        box-shadow: 0 3px 6px 0 rgba(0,0,0,.2);
        transition: all 0.3s ease;
        
        &:hover{
            bottom: 0;
            transition: all 0.3s ease;
            
            .list{
                max-height: 100vh;
                height: 100%;
                transition: all 1s linear;
            }
        }
        
        .next{
            font-size: 1.1em;
            font-weight: 500;
            color: $txt_light;            
        }
        
        .list{
            //padding: 0 20px;
            display: block;
            overflow: hidden;
            max-height: 0;
            transition: all 0.3s linear;
            
            li{
                display: block;
                
                &:first-child{
                    margin-top: 40px;
                }
                
                a{
                    display: flex;
                    justify-content: space-between;
                    font-size: 0.9em;
                    font-weight: 500;
                    color: black;
                    margin-bottom: 20px;
                    
                    &:after{
                        content: "\f178";
                        font-family: Fontawesome;
                    }
                }
            }
        }
    }
}

.user-avatar{   
    position: relative;
    display: inline-block;
    border-radius: 50%;
    background-color: gainsboro;
    width: 8em;
    height: 8em;

    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;      
}

/*
*
*Container END
*
*/