
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,900');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700');

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.font-main {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.font-accent {
    font-family: 'Noto Serif', serif;
    font-weight: 400;
}