.main-footer{
    padding: 40px 15px 40px;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    
    @include MQ(M){
        padding: 40px 80px 80px;
    }
    
    &.footer-light{
        background-color: #E8E8E8;
        
        a{
            color: black;
            
            &:hover{
                color: $footer_text !important;   
            }
        }
        
        .brand{
            .name{
                color: black;
            }
        }
        
        .address-line{
            color: black;
        }
        
        .title{
            color: black;
        }
        
        .social-media{
            overflow: hidden;
            color: white;
            margin-bottom: 20px;
            padding-bottom: 15px;

            li{
                display: inline-block;
                margin-right: 30px;

                &:last-child{
                    margin-right: 0;
                }

                a{
                    display: inline-block;
                    font-size: 1.6em;
                    color: black;
                    
                    &:hover{
                        color: $footer_text !important;   
                    }

                    i{
                        color: unset;
                    }
                }


            }
        }
    }
    
    .brand{
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        
        .logo{
            text-align: left;
            width: 40px;
            
            @include MQ(M){
                text-align: center;
                width: 45px;
            }

            img{
                width: 100px;
            }
        }
        
        .name{
            font-weight: 600;
            font-size: 1.4em;
            color: white;
            margin-left: 10px;
        }
    }
        
    .top{
        border-bottom: 1px solid rgba(255,255,255,0.3);
    }
    
    .bottom {
        padding: 20px 0;
    }
    
    .title{
        font-size: 1em;
        color: $footer_text;
        margin-bottom: 20px;
        font-weight: 500;
        line-height: 1.4em;
    }
        
    .address-line{
        margin-bottom: 20px;
        color: $footer_text;
        font-size: 0.9em;
        line-height: 1.5em;

        @include MQ(M){
            font-size: 1em;
            font-weight: 400;
        }
    }
    
    .contact-us{
        font-size: 1em;
        margin-bottom: 20px;
        font-weight: 400;
        
        
        i{
            margin-right: 5px;
        }
    }
    
    .list{
        overflow: hidden;
        color: white;
        margin-bottom: 20px;
        
        li{
            display: inline-block;
            margin-right: 30px;
            margin-bottom: 20px;

            &:last-child{
                margin-right: 0;
            }

            a{
                display: inline-block;
                font-size: 1em;
                font-weight: 500;
                color: $footer_text;
            }

        }
    }
    
    a{
        color: rgba(255,255,255,0.7);
        
        transition: all 0.3s ease;
        
        &:hover{
            color: white !important;
            transition: all 0.3s ease;
        }
    }
    
}


.social-media{
    overflow: hidden;
    color: white;
    margin-bottom: 20px;
    padding-bottom: 15px;
    
    li{
        display: inline-block;
        margin-right: 30px;
            
        &:last-child{
            margin-right: 0;
        }
        
        a{
            display: inline-block;
            font-size: 1.6em;
            color: $footer_text;
            
            i{
                color: unset;
            }
        }
        

    }
}

.copyright{
    font-size: 0.7em;
    color: rgba(255,255,255,0.7);
    
    text-align: center;
        
        @include MQ(M){
            text-align: left;
        }
}

.under-line-list{
    //padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #2c2c2c;
}
