.form{
    .form-item{
        margin-bottom: 2em;
        
        &:last-child{
            margin-bottom: 0;
        }
                
        label{
            color: $txt_default;
            font-size: 0.8em;
            font-weight: 500;
            line-height: 1.4em;
            margin-bottom: 0.5em;
        }
        
        .validation-error{
            display: none;
            font-weight: 400;
            font-size: 0.8em;
            color: red;
            margin-top: 0.5em;
        }
        
        input, select, textarea{
            display: block;
            width: 100%;
            outline: none;
            box-shadow: none;
            padding: 0;
            padding: 0.75em;
            font-weight: 400;
            font-size: 0.8em;
            color: black;
            border: 1px solid #C4C4C4;
            border-radius: 4px;
            background-color: transparent;
            transition: all 0.4s ease;
            
            &:focus{
                border-color: $blue;
                transition: all 0.4s ease;
            }
            
            &:disabled{
                border-color: #DEEDFF;
                background-color: #DEEDFF;
            }
            
            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
              color: grey;
              opacity: 1; /* Firefox */
            }

            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
              color: grey;
            }

            &::-ms-input-placeholder { /* Microsoft Edge */
              color: grey;
            }
        }
        
        textarea{
            line-height: 1.4em;
        }
        
        &.error{
            input, select, textarea{
                border-color: red;
            }
            .validation-error{
                display: block;
            }
        }
        
        &.valid{
            input, select, textarea{
                border-color: $green;
            }
        }
        
        &.required{
            label{
                &:after{
                    content: "*";
                    color: red;
                }
            }
        }
    }
    
    .form-item-radio{
        margin-bottom: 2em;
                
        .group-title{
            color: $txt_default;
            font-size: 0.8em;
            font-weight: 500;
            line-height: 1.4em;
            margin-bottom: 1.5em;
        }
        
        .radio-group{
            display: inline-flex;
            align-items: center;
            margin-right: 2em;
            
            .radio-label{
                font-size: 0.9em;
                margin-left: 1em;
                cursor: pointer;
            }
        }
        
        input, select, textarea{
            display: block;
            width: 100%;
            outline: none;
            box-shadow: none;
            padding: 0;
            padding: 0.75em;
            font-weight: 400;
            font-size: 0.8em;
            color: black;
            border: 1px solid #C4C4C4;
            border-radius: 4px;
            background-color: transparent;
            transition: all 0.4s ease;
            
            &:focus{
                border-color: $blue;
                transition: all 0.4s ease;
            }
            
            &:disabled{
                border-color: #DEEDFF;
                background-color: #DEEDFF;
            }
            
            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
              color: grey;
              opacity: 1; /* Firefox */
            }

            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
              color: grey;
            }

            &::-ms-input-placeholder { /* Microsoft Edge */
              color: grey;
            }
        }
    }
    
    .form-submit{
        
        
        button{
            display: inline-block;
            outline: 0;
            color: white;
            border: 1px solid rgba(255,255,255,0.5);
            background-color: $blue;
            cursor: pointer;
            transition: all 0.4s ease;
            
            &:after{
                content: "\f105";
                font-family: Fontawesome;
                padding: 1.2em 1em;
            }
            
            &:hover{
                transition: all 0.4s ease;
                background-color: transparent;
                color: $blue;
            }
            
            span{
                display: inline-block;
                padding: 1.2em 2em;
                border-right: 1px solid rgba(255,255,255,0.5);
                font-size: 0.75em;
                font-weight: 500;
                text-transform: uppercase;
                
                
            }
            
            
        }
    }
}

/* Select2 */
.select2, .select2-selection__placeholder, .select2-selection__rendered{
    font-size: 0.9em;
    
}

.select2-selection__rendered{
    line-height: 1em !important;
    padding: 0.75em;
}

.select2-container .select2-selection--single {
    height: auto;
}

.select2-container--focus{
    outline: none !Important;
}



.filter-form{
    font-size: 0.8em;
    
    .form-item{
        >*{
            outline: 0;
            font-weight: 500;
            color: $blue;
            width: 100%;
            padding: 0.5rem 2em;
            border: 1px solid $blue;
            border-radius: 1.2em;
            transition: all 0.4s ease;
            position: relative;
            
            option{
                padding-bottom: 20px;
                color: grey;
            }
            
            &::before{
                content: "";
                //position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 5px 5px 0 5px;
                border-color: #007bff transparent transparent transparent;
            }
        }
        
        select{
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            //text-overflow: '';
            position: relative;
            
            
        }
    }
    
    .submit-btn{
        color: white;
        background-color: $blue;
        padding: 0.5rem 2em;
        border: 1px solid $blue;
        border-radius: 1.2em;
        cursor: pointer;
    }
}

.mailing-list-form{
    display: flex;
    position: relative;
    
    &:before{
        content: "\f003";
        position: absolute;
        width: 2.4em;
        height: 2.4em;
        background-color: white;
        color: black;
        border-radius: 50%;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        font-family: FontAwesome;
        font-size: 0.8em;
        padding: 0.7em 0.7em;
        transition: all 0.3s ease;
    }

    &:hover{
        &:before{
            background-color: black;
            color: white;
            transition: all 0.3s ease;
        }
    }
    
    .mail-field{
        display: inline-block;
        outline: 0;
        font-weight: 500;
        color: white;
        font-size: 1em;
        line-height: 1.5em;
        background-color: transparent;
        padding: 0.5rem 2em 0.5rem 50px;
        border: 1px solid white;
        border-right: 0;
        border-radius: 1.2em 0 0 1.2em;
        transition: all 0.4s ease;
        position: relative;
        
        
    }
    
    .submit-btn{
        display: inline-block;
        font-size: 1em;
        line-height: 1.5em;
        padding: 0.5rem 2em;
        color: white;
        background-color: $blue;
        border: 0;
        outline: 0;
        border: 1px solid $blue;
        border-radius: 0 1.2em 1.2em 0;
        cursor: pointer;
        
        &:hover{
            background-color: white;
            color: $blue;
            border-color: white;
        }
    }
    
}

.coming-soon-form{
    .form-item{
        margin-bottom: 0.4em;
        
        input{
            outline: 0;
            border: 0;
            font-weight: 400;
            font-size: 0.9em;
            padding: 0.5rem 0.8em;
        }
    }
    .form-submit{
        input{
            outline: 0;
            border: 2px solid white;
            padding: 0.5rem 0.8em;
            background-color: transparent;
            color: white;
            font-size: 0.9em;
            cursor: pointer;
            transition: all 0.4s ease;
            
            &:hover{
                transition: all 0.4s ease;
                background-color: white;
                border-color: white;
                color: $blue;
            }
        }
    }
}

.competency-form{
    
    /*.form-item{
        font-size: 0.8em;
        
        >*{
            outline: 0;
            font-weight: 500;
            color: $txt_light;
            width: 100%;
            padding: 0.5rem 2em;
            border: 1px solid $txt_lighter;
            //border-radius: 0.2em;
            transition: all 0.4s ease;
            position: relative;
            
            option{
                padding-bottom: 20px;
                color: grey;
            }
            
            &::before{
                content: "";
                //position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 5px 5px 0 5px;
                border-color: #007bff transparent transparent transparent;
            }
        }

    }*/
}

.search-form{
    display: flex;
    padding: 0.5em 0.75em;
    border: 1px solid grey;
    border-radius: 2em;
    
    input{
        border: 0;
        outline: 0;
        flex: 1;
        font-size: 0.9em;
    }
    
    button{
        background-color: transparent;
        border: 0;
        outline: 0;
    }
}

/*
*
*
*    
*
*/
.gform_body{

}

.gform_title{
    font-size: 1.6em;
    font-weight: 500;
    margin-bottom: 1em;
}

.gform_description{
    display: block;
    line-height: 1.5em;
    margin-bottom: 2em;
}

.gfield{
    margin-bottom: 20px;
}

.gfield_label{
    font-size: 0.9em;
    font-weight: 600;
    margin-bottom: 0.4em;
}

.ginput_container{
    input, select, textarea{
        width: 100%;
        width: 100%;
        outline: 0;
        border: 0;
        padding: 0.6em 0.8em;
        border: 1px solid gainsboro;
        border-radius: 0.2em;
    }
    
    textarea{
        line-height: 1.4em;
    }
}

.gform_footer{
    display: flex;
    justify-content: flex-end;
}

.gform_button{
    display: inline-block;
    position: relative;
    border: 0;
    outline: 0;
    font-weight: 400;
    padding: 0.6rem 2em;
    margin-bottom: 0.8rem;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.4s ease;
    
    background-color: $green;
    color: white;
    text-align: right;

    &:hover{
        transition: all 0.4s ease;
        background-color: green_lime;
    }
}

.gf-white{
    .gform_button{
        display: inline-block;
        position: relative;
        border: 0;
        outline: 0;
        font-weight: 400;
        padding: 0.6rem 2em;
        margin-bottom: 0.8rem;
        border-radius: 20px;
        cursor: pointer;
        transition: all 0.4s ease;

        background-color: transparent;
        border: 2px solid white;
        color: white;
        text-align: right;

        &:hover{
            transition: all 0.4s ease;
            background-color: white;
            color: $blue;
            border-color: white
        }
    }
}


.login-bg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    
    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        opacity: 0.7;
        z-index: 0;
    }
}

.login-form-card{
    //box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
    //box-shadow: 0px 0px 8px 0px rgba(46, 61, 73, 0.2);
    box-shadow: 0px 0px 15px 0px rgba(46, 61, 73, 0.28);

    .left{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 60px;
        
        @include MQ(M){
            padding: 40px;
        }  
        
        &:before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $yellow_dark;
            opacity: 0.7;
            z-index: 0;
        }
        
        .content{
            position: relative;
            z-index: 1;
        }
    }
    
    .right{
        padding: 60px 0;
        
        .gform_body{
            border: 0;
        }
    }
}

.login-form{
    .gfield{
        margin: 0;
    }
    
    label{
        color: black;
        text-transform: uppercase;
        font-size: 0.7rem !important;
        letter-spacing: 0.05em !important;
        font-weight: 500 !important;
        display: none !important;
    }
    
    .hidden-label{
        .gfield_label{
            display: none;
        }
    }
    
    input, select{
        border: 0;
        padding: 0 !important;
        padding-bottom: 0.5rem !important;
        margin: 0;
        margin-bottom: 20px;
        
        border-bottom: 1px solid #afafaf;
        
        color: black;
        background-color: transparent !important;
        font-weight: 400 !important;
        font-size: 0.8rem !important;
        transition: 0.3s all ease;
        
        &:focus{
            border-bottom: 2px solid black;
            transition: 0.3s all ease;
        }
    }
    
    .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
        display: block !important;
        width: 100% !important;
    }
    
    // Containers
    
    .ginput_container {
        input, select{
            width: 100% !important;
        }
    }
    
    .gf_left_half, .ginput_left, .gf_left_third, .name_first, .gf_middle_third {
        @include MQ(M){
            padding-right: 15px !important;
            margin: 0 !important;
            margin-top: 16px !important;
        }
    }
    
    
    .gf_right_half, .ginput_right, .gf_right_third, .name_last {
        @include MQ(M){
            padding-left: 15px !important;
            //margin: 0 !important;
            margin-top: 16px !important;
            
        }
    }
    
    .gf_left_half, .gf_right_half {
        @include MQ(M){
           
            margin-top: 24px !important;
        }
    }
    
    .gf_middle_third {
        padding-left: 0 !important;
    }
    
    //
    
    .gform_footer {
        display: block;
        margin-top: 20px;
    }
    
    .gform_button{
        padding: 0.8em 2em !important;
        background-color: green !important;
        color: white !important;
        border-radius: 0 !important;
        font-size: 0.9em !important;
        font-weight: 400 !important;
    }
}

.esaed-form{
    #gform_36{
        
    }
    
    .gform_wrapper .gf_page_steps {
        border: 0;
        margin: 0 !important;
        padding: 0 !important;
        background-color: gainsboro;
        
        
        @include MQ(M){
            //border-right: 1px solid gainsboro;
            //padding-right: 40px;
            margin-right: 40px;
        }
    }
    
    .gf_step {
        display: inline-flex;
        width: auto !important;
        margin: 0 !important;
        //margin-bottom: 20px !important;
        padding: 0 !important;
        height: auto !important;
        opacity: 1 !important;
        position: relative;
        padding: 20px 20px 20px 30px !important;
        background-color: gainsboro;
        font-size: 0.7em !important;
        
        &:after { 
            content: " "; 
            display: block; 
            width: 0; 
            height: 0;
            border-top: 28px solid transparent; /* Go big on the size, and let overflow hide */
            border-bottom: 28px solid transparent;
            border-left: 15px solid gainsboro;
            position: absolute;
            top: 50%;
            margin-top: -28px; 
            left: 100%;
            z-index: 2; 
        }
        
        :before { 
          content: " "; 
          display: block; 
          width: 0; 
          height: 0;
          border-top: 28px solid transparent;       
          border-bottom: 28px solid transparent;
          border-left: 15px solid white;
          position: absolute;
          top: 50%;
          margin-top: -28px; 
          margin-left: 1px;
          left: 100%;
          z-index: 1; 
        }
        
     
        
        @include MQ(M){
            //padding-right: 0 !important;
        }
    }
    
    .gsection{
        border: 0 !important;
        background-color: ghostwhite;
        padding: 30px 40px !important;
        margin-top: 0 !important;
        margin-right: 0 !important;
        font-size: 0.8em;
        font-weight: 500 !important;
        text-transform: capitalize;
    }
    
    .gsection_title{
        font-weight: 500 !important;
    }
    
    .gform_body{
        flex: 70%;
        min-width: 70%;
        border: 1px solid gainsboro;
        border-top: 0 !important;
    }
    
    .gform_wrapper .gf_step.gf_step_active {
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1;
        font-weight: 600;
        color: green;
        background-color: ghostwhite !important;
        
        &:after { 

            border-top: 28px solid transparent; /* Go big on the size, and let overflow hide */
            border-bottom: 28px solid transparent;
            border-left: 15px solid ghostwhite;

        }
    }
    
    .gform_wrapper .gf_step span.gf_step_number {
        font-size: 1em;
        font-family: arial,sans-serif;
        margin-right: 4px;
    }
    
    label{
        color: black;
        text-transform: uppercase;
        font-size: 0.7rem !important;
        letter-spacing: 0.05em !important;
        font-weight: 500 !important;
    }
    
    .hidden-label{
        .gfield_label{
            display: none;
        }
    }
    
    ginput_container {
        margin-top: 0 !important;
        margin-bottom: 0;
    }
    
    .ginput_container{
        input, select, textarea{
            width: 100%;
            width: 100%;
            outline: 0;
            border: 0;
            padding: 0.6em 0.8em;
            border: 1px solid lightslategray;
            border-radius: 0.2em;
            padding: 0.5em 0.8em !important;
        }

        textarea{
            line-height: 1.4em;
        }
    }
    
    .gfield {
        padding-left: 0 !important;
        margin-bottom: 0 !important;
        
        @include MQ(M){
            padding-left: 40px !important;
            padding-right: 40px !important;
        }
    }
    
    .gf_left_half, .gf_left_third, .gf_middle_third {
        @include MQ(M){
            padding-right: 16px !important;
        }
    }
    
    .gf_right_half, .gf_right_third {
        padding-left: 0 !important;
    }
    
    .gf_middle_third {
        padding-left: 0 !important;
    }
    
    .name_first, .name_middle, .name_last{
        label{
            margin-bottom: 12px !important;
        }
    }
    
    .ginput_container_checkbox, .ginput_container_radio{
        margin-top: 6px !important;
    }
    
    .gform_wrapper ul.gform_fields li.gfield:first-child {
        //margin-top: 0;
    }
    
    .gf_list_inline .gfield_radio, .gf_list_inline .gfield_checkbox{
        display: flex;
        flex-wrap: wrap;
    }
    
    
    
    .gform_wrapper ul.gfield_checkbox li, .gform_wrapper ul.gfield_radio li {
        @include MQ(M){
            display: flex !important;
            align-items: flex-start;
            margin-right: 20px !important;
        }
    }
    
    .gform_next_button, .gform_previous_button {
        background-color: #ffdf7f;
        padding: 0.8rem 2em;
        border: 0;
        outline: 0 !Important;
        font-size: 0.9em !Important;
        font-weight: 500;
        border-radius: 0;
        cursor: pointer;
        transition: all 0.3s ease;
        
        &:hover{
            color: white;
            background-color: $green;
            transition: all 0.3s ease;
        }
    }
    
    
    .gform_wrapper.gf_browser_chrome .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox], .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
        margin-top: 0.15em;
        margin-right: 0.25em;
    }
    
    .gform_page_footer{
        border: 0;
        padding: 0;
        padding-left: 40px !important;
        padding-right: 40px !important;
        margin: 40px 0 !important;
    }
    
    
    .full-width{
        select{
            width: 100% !important;
        }
    }
    
}