.generic-image-1{
        background: url('../images/heroes/white.jpg'); 
    }
    
.generic-image-2{
    background: url('../images/heroes/pedestrians.jpg'); 
}

.generic-image-3{    
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)) 50% -54px, url('../images/heroes/slide_1.jpg') 0% 0% / cover no-repeat;
}

.generic-image-4{
    background: url('../images/heroes/urban.jpg'); 
}

.generic-image-5{
    background: url('../images/heroes/youth.jpg'); 
}
    
.generic-hero{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.modal-bg-1{
    background: url('../images/heroes/pedestrians.jpg'); 
}

.modal-bg-2{
    background: url('../images/heroes/urban.jpg'); 
}

.modal-bg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.full-height-80{
    height: 80vh;
}

.full-height-50{
    height: 50vh;
}

.full-height-90{
    height: 90vh;
}

.full-height-95{
    height: 95vh;
}

.full-height-100{
    height: 100vh;
}

.profile-image{
    border-radius: 50%;
}

.offset-image{
    margin-top:-10%;
    
    @include MQ(M){
        margin-top:-20%;
    }
}

.relative{
    position: relative;
}

.fixed-bottom{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.home-hero{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    
    @include MQ(M){
        margin-top: 65px;
        flex-direction: row;
        margin-top: 0;
    }
    
    .content-1, .content-2{
        position: relative;
        z-index: 1;
    }
    
    .content-1{
        padding: 80px 20px 10px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        
        @include MQ(M){
            display: block;
            flex: 1;
            padding: 0;
            padding-left: 15vh;
            padding-top: 20vh;
        }
        
        .narrative{
            padding-top: 80px;
            
            @include MQ(M){
                padding-top: 0;
            }
        }
        
        .cto{
            width: 100%;
            .btn{
                width: 48%;
                margin-right: 4%;
                float: left;
                padding: 10px 30px;
                
                &:last-child{
                    margin-right: 0;
                }
                
                @include MQ(M){
                    margin-right: 5px;
                }
            }
            
            @include MQ(M){
                
                .btn{
                    width: auto;
                }
            }
        }
    }
    
    .content-2{
        width: 100%;
        
        @include MQ(M){
            width: 25%;
        }
    }
    
    &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgba(206, 156, 12, 0.8);
        z-index: 0;
    }
}

.left-banner, .right-banner{
    text-align: center;
    
    @include MQ(M){
        
    }
}

.left-banner{
    
    @include MQ(M){
        text-align: left;
    }
}

.right-banner{
    margin-top: 40px;
    
    .full-width{
        width: 30%;
    }
    
    @include MQ(M){
        text-align: right;
        margin-top: 0;
        
        .full-width{
            width: 100%;
        }
    }
}

.hero_1{
    background: url('../images/heroes/hero_1.jpg');
    background-position: center;
}

.hero_2{
    background: url('../images/heroes/hero_2.jpg');
    background-position: center;
}

.hero_3{
    background: url('../images/heroes/hero_3.jpg');
    background-position: center;
}

.hero_4{
    background: url('../images/heroes/hero_4.jpg');
    background-position: bottom;
}

.hero_5{
    background: url('../images/heroes/hero_5.jpeg');
    background-position: center;
}

.hero_6{
    background: url('../images/heroes/hero_6.jpg');
    background-position: center;
}
.hero_7{
    background: url('../images/heroes/hero_7.jpg');
    background-position: center;
}

.generic-gallery, .generic-gallery-two-slides{
    overflow: hidden;
    min-height: 280px;
    
    @include MQ(M){
        min-height: 450px;
    }
    
    &.fluid{
        min-height: 0;
    
        @include MQ(M){
            min-height: 0;
        }
    }
    
    .caption{
        position: absolute;
        left: 20px;
        bottom: 20px;
        color: white;
        z-index: 5;
        
        @include MQ(M){
            left: 40px;
            bottom: 40px;
        }
    }
    
    .title{
        font-size: 1.5rem;
        line-height: 1.7;
        font-weight: 500;
    }
    
    .subtitle{
        font-size: 1em;
        line-height: 1.7;
        font-weight: 400;
    }
    
    .swiper-button-prev, .swiper-button-next{
        background-image: none;
        
        &:after {
            content: "\f054";
            position: absolute;
            width: 3.8em;
            height: 3.8em;
            color: white;
            background-color: rgba(0,0,0,0.5);
            border-radius: 50%;
            top: 0;
            
            font-size: 1em;
            font-family: FontAwesome; 
            padding: 1.45em 1.6em;
            transition: all 0.3s ease;
        }
        
        &:hover{
            &:after {
                background-color: black;
                transition: all 0.3s ease;
            }
        }
    }
    
    .swiper-button-prev{
        &:after {
            content: "\f053";
        }
    }
    
    .swiper-button-next{
        &:after {
            content: "\f054";
            right: 0;
        }
    }
}

.programs-gallery{
    .swiper-button-prev, .swiper-button-next{
        background-image: none;
        
        &:after {
            content: "\f054";
            position: absolute;
            width: 3.8em;
            height: 3.8em;
            color: white;
            background-color: rgba(0,0,0,0.5);
            border-radius: 50%;
            top: 0;
            
            font-size: 1em;
            font-family: FontAwesome; 
            padding: 1.45em 1.6em;
            transition: all 0.3s ease;
        }
        
        &:hover{
            &:after {
                background-color: black;
                transition: all 0.3s ease;
            }
        }
    }
    
    .swiper-button-prev{
        &:after {
            content: "\f053";
        }
    }
    
    .swiper-button-next{
        &:after {
            content: "\f054";
            right: 0;
        }
    }
    
    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        display: inline-block;
        border-radius: 100%;
        background: transparent;
        border: 1px solid $yellow;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
        background: $yellow;
    }
    
}

.generic-gallery-text{
    overflow: hidden;
    background-color: black;
    min-height: 280px;
    
    @include MQ(M){
        min-height: 450px;
    }
    
    .slider-content{
        padding: 20px 20px 120px 20px;
        
        @include MQ(M){
            padding: 40px 40px 120px 40px;
            min-height: 430px;
        }
    }
    
    .title{
        font-size: 2em;
        line-height: 1.7;
        font-weight: 500;
        color: white;
        margin-bottom: 20px;
        
        @include MQ(M){
            font-size: 3em;
        }
    }
    
    .description{
        font-size: 1em;
        line-height: 1.7;
        font-weight: 400;
        color: $txt_lighter;
    }
    
    .swiper-button-prev, .swiper-button-next{
        background-image: none;
        bottom: 40px;
        margin: 0;
        top: auto;
        
        &:after {
            content: "\f054";
            position: absolute;
            width: 3em;
            height: 3em;
            color: white;
            background-color: rgba(255,255,255,0.2);
            border-radius: 50%;
            top: 0;
            
            font-size: 0.8em;
            font-family: FontAwesome; 
            padding: 1.1em 1.1em;
            transition: all 0.3s ease;
        }
        
        &:hover{
            &:after {
                background-color: white;
                color: black;
                transition: all 0.3s ease;
            }
        }
    }
    
    .swiper-button-prev{
        left: 20px;
        
        @include MQ(M){
            left: 40px;
        }
        
        &:after {
            content: "\f053";
        }
    }
    
    .swiper-button-next{
        left: 80px;
        
        @include MQ(M){
            left: 100px;
        }
        
        &:after {
            content: "\f054";
            right: 0;
        }
    }
}

.home-slider-item{
    position: relative;
    display: flex;
    align-content: center;
    height: 280px;
    
    @include MQ(M){
        height: 450px;
    }
    
    &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        opacity: 0;
        z-index: 2;
        transition: all 0.4s ease;
    }
    
    &:hover{
        &:after{
            opacity: 1;
            transition: all 0.4s ease;
        }   
    }
    
    .slide-bg{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat;
    }
    
    .floating-container{
        position: relative;
        z-index: 3;
        width: 100%;
    }
    
    .floating-caption{
        display: inline-block;
        font-size: 0.7rem;
        text-transform: uppercase;
        padding: 0.6em 40px;
    }
    
    .floating-content{
        width: 80%;
        background-color: white;
        padding: 20px 40px;
        
        @include MQ(M){
            width: 50%;
        }
    }
    
}

.album-gallery{
    padding-top: 4em;
    
    .album-header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: black;
        border-bottom: 1px solid #3b3b3b;
        display: flex;
        justify-content: space-between;
        padding: 0.95em;
        z-index: 1000;

        @include MQ(M){
            padding: 0.95em 80px;
        }
    }
    
    .brand{
        display: flex;
        align-items: center;
        color: white;
        margin-right: 50px;

        .icon{
            height: 40px;
            width: 40px;
        }

        .name{
            color: white;
            font-size: 1.4em;
            font-weight: 600;
            padding-left: 5px;
        }
    }
    
    .album-navigation{
        display: flex;
        align-items: center;
        
        .swiper-pagination{
            display: none;
            position: static;
            text-align: left;
            color: white;
            opacity: 0.7;
            font-size: 0.9em;
            
            @include MQ(M){
                display: block;
            }
        }
        
        .navigation-wrapper{
            display: flex;
            align-items: center;
            
            @include MQ(M){
                padding: 0 2.8em;
            }
            
            .swiper-button-prev, .swiper-button-next{
                position: static;
                background-image: none;
                display: inline-block;
                width: auto;
                height: auto;
                margin: 0;
                padding: 0 .5em;
                
                @include MQ(M){
                    padding: 0 1.5em;
                }

                &:after {
                    content: "";
                    font-family: FontAwesome; 
                    position: static;
                    color: white;
                    border-radius: 50%;

                    font-size: 1em;
                }
            }

            .swiper-button-prev{
                &:after {
                    content: "\f053";
                }
            }

            .swiper-button-next{
                &:after {
                    content: "\f054";
                }
            }
        }
        
        .close-album{
            i{
                color: white;
            }
        }
    }
    
    .slider-item{
        background-color: black;
        text-align: center;
        height: 70vh;
        position: relative;
        
        img{
            max-height: 70vh;
            width: auto;
            
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
    }
    
    .gallery-item-details{
        .title{
            font-size: 1.5rem;
            line-height: 1.16666667;
            font-weight: 500;
            margin-bottom: 1.25rem;
            
        }
        .subtitle{
            font-size: 1rem;
            line-height: 1.5;
            font-weight: 400;
            letter-spacing: .25px;
            margin-bottom: 0.5rem;
        }
    }
}

.home-gallery{
    position: relative;
    overflow: hidden;
    
    
    .swiper-slide{
        min-height: 320px;
        display: flex;
        align-items: center;
        
        @include MQ(M){
            min-height: 400px;
        }
    }
    
    .swiper-pagination-home{
        position: absolute;
        bottom: 40px;
        right: 40px;
        padding-right: 40px;
        text-align: right;
        z-index: 10;
    }
    
    .swiper-pagination-bullet {
        width: 18px;
        height: 18px;
        display: inline-block;
        border-radius: 100%;
        background: #fff;
        border: 2px solid white;
        opacity: 1;
        background-color: transparent;
        transition: all 0.3s ease;
        
        &:hover{
            background-color: white;
            transition: all 0.3s ease;
        }
    }
    
    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: 10px;
        left: auto;
        width: 50%;
        right: 0;
    }
    
    .swiper-pagination-bullet-active{
        background-color: white;
    }
    
    .swiper-slide-active{
        .content{
            transform: translateY(0);
            transition: all 1s ease;
        }
    }
    
    .content{
        
        position: relative;
        transform: translateY(200%);
        
        @include MQ(M){
            width: 75%;
        }
        
        .caption{
            text-transform: uppercase;
            font-size: 0.8em;
            font-weight: 500;
            letter-spacing: 0.1em;
            margin-bottom: 40px;
        }
        
        .title{
            font-size: 2.6em;
            line-height: 1em;
            margin-bottom: 40px;
            
            @include MQ(M){
                font-size: 4em;
            }
            
            .main{
                font-weight: 700;
                
                &:after{
                    content: ":";
                }
            }
            
            .sub{
                font-weight: 300;
            }
        }
        
        .cta{
            
            &:after{
                content: "\f061";
                font-family: FontAwesome;
            }
            
            span{
                display: inline-block;
                padding-bottom: 5px;
                margin-right: 10px;
                border-bottom: 1px solid;
            }
        }
    }
}

.home-gallery-2{
    position: relative;
    overflow: hidden;
    
    
    .swiper-slide{
        min-height: 480px;
        display: flex;
        align-items: center;
        
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        
        &:before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            background-color: rgba(0,0,0,0.4);
        }
        
        @include MQ(M){
            min-height: 520px;
        }
    }
    
    .swiper-pagination-home{
        position: absolute;
        bottom: 40px;
        right: 0;
        left: 0;
        text-align: center;
        z-index: 10;
    }
    
    .swiper-pagination-bullet {
        width: 18px;
        height: 18px;
        display: inline-block;
        border-radius: 100%;
        background: #fff;
        border: 2px solid white;
        opacity: 1;
        background-color: transparent;
        transition: all 0.3s ease;
        
        &:hover{
            background-color: white;
            transition: all 0.3s ease;
        }
    }
    
    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: 10px;
        left: auto;
        width: 50%;
        right: 0;
    }
    
    .swiper-pagination-bullet-active{
        background-color: white;
    }
    
    .swiper-button-prev, .swiper-button-next{
        background-image: none;
        display: none;
        
        @include MQ(L){
            display: block;
        }
        
        &:after {
            content: "\f054";
            position: absolute;
            width: 3.8em;
            height: 3.8em;
            color: white;
            border-radius: 50%;
            top: 0;
            
            font-size: 1.5em;
            font-family: FontAwesome; 
            padding: 1.45em 1.6em;
            transition: all 0.3s ease;
        }
        
        &:hover{
            &:after {
                color: grey;
                transition: all 0.3s ease;
            }
        }
    }
    
    .swiper-button-prev{
        &:after {
            content: "\f053";
        }
    }
    
    .swiper-button-next{
        &:after {
            content: "\f054";
            right: 0;
        }
    }
    
    .content{
        flex: 1;
        text-align: center;
        position: relative;
        z-index: 1;
        
        @include MQ(M){
            width: 75%;
        }
        
        .caption{
            text-transform: uppercase;
            font-size: 0.8em;
            font-weight: 500;
            letter-spacing: 0.1em;
            margin-bottom: 40px;
        }
        
        .title{
            font-size: 2em;
            line-height: 1em;
            font-weight: 600;
            text-transform: uppercase;
            
            @include MQ(M){
                font-size: 3em;
            }
            
            .main{
                font-weight: 700;
                
                &:after{
                    content: ":";
                }
            }
            
            .sub{
                font-weight: 300;
            }
        }
        
        .cta{
            color: black;
            padding: 0.75em 2em;
            background-color: white;
            border-radius: 2em;
            
        }
    }
}

/* New */
.home-slide-section{
    position: relative;
    
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    
    @include MQ(L){
        display: flex;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
        //padding-left: 80px;
            /*padding-left: 80px;
            padding-right: 80px;*/
    }
    
    .swiper-wrapper{

        .swiper-slide{
            display: flex;
            flex-direction: column;
            padding: 20px;
            border-radius: 6px;
            min-height: 400px;
            background-color: white;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border: 1px solid gainsboro;
                        
            .content{
                flex: 1;
                padding-bottom: 30px; 
            }
            
            .image{
                height: 120px;
                background-size: cover !important;
                background-position: center !important;
                background-repeat: no-repeat !important;
            }
            
            .footer{
                padding-top: 20px;
                border-top: 1px solid gainsboro;
                font-size: 0.9em;
            }
        }
    }
    
    .swiper-button-prev, .swiper-button-next{
        background-image: none;
        display: none;

        @include MQ(L){
            display: block;
        }

        &:after {
            content: "\f054";
            position: absolute;
            width: 3.8em;
            height: 3.8em;
            color: black;
            border-radius: 50%;
            top: 0;

            font-size: 1.5em;
            font-family: FontAwesome; 
            padding: 1.45em 1.6em;
            transition: all 0.3s ease;
        }

        &:hover{
            &:after {
                color: grey;
                transition: all 0.3s ease;
            }
        }
    }

    .swiper-button-prev{
        &:after {
            content: "\f053";
        }
    }

    .swiper-button-next{
        &:after {
            content: "\f054";
            right: 0;
        }
    }
}

.magazine-banner{
    figure{
        min-height: 80vh;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
    }
    
    
    .caption{
        font-size: 0.9em;
        line-height: 1.4em;
        font-weight: 400;
        margin-top: 15px;
    }
    
    .content{
        padding: 40px 40px 60px 40px;
        line-height: 1.4em;
        font-size: 1.4em;
        color: white;
        
        .title{
            font-size: 3em;
            line-height: 0.8em;
        }
    }
}

.testimonial-slider-item{
    position: relative;
    display: flex;
    align-items: center;
    padding: 80px;
    //height: 280px;
    
    @include MQ(M){
        //height: 450px;
        
        padding: 40px 100px;
    }
    
    .quote{
        font-size: 1.5em;
        line-height: 1.5em;
        font-weight: 300;
        margin-bottom: 40px;
    }

    .name{
        font-size: 1.2em;
        font-weight: 500;
        margin-bottom: 10px;
    }
    
    .enrolled{
        font-style: italic;
        font-size: 0.9em;
    }
    
}

.generic-bg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    &.overlay{
        position: relative;
        &:after{
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: black;
            opacity: 0.7;
        }
        
        .content{
            position: relative;
            z-index: 1;
        }
    }
}

.overlay{
    position: relative;
    
    >*{
        position: relative;
        z-index: 1;
    }
    
    &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        opacity: 0.7;
    }
}

.overlay-3{
    &:after{
        opacity: 0.3;
    }
}

.overlay-5{
    &:after{
        opacity: 0.5;
    }
}

.overlay-7{
    &:after{
        opacity: 0.7;
    }
}

.splash-header{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    min-height: 380px;
    
    @include MQ(M){
        min-height: 480px;
    }
}

.homepage-hero{
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    
    position: relative;
    
    .content{
        position: relative;
        z-index: 10;
    }
    
    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: $yellow_dark;
        opacity: 0.9;
    }
}

.color-hero{
    padding: 40px 20px;
    
    .content{
        @include MQ(M){
            padding: 80px;
        }
    }
}


/* Thumb */

.slide-sid-bar{
    @include MQ(M){
        padding-left: 20px;
    }
}

.sy-controls li a:after {
    content: "";
    background-image: url(../images/arrows.svg);
}

.slippry-section{
    position: relative;
    margin-bottom: 20px;
    
    @include MQ(M){
        margin-bottom: 0;
    }
    
    .sy-slide > a  {
        height: 100%;
        background-color: gainsboro;
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        //filter: grayscale(100%);
    }
    
    .sy-slide > a > img {
        //height: 80vh;
    }
    
    .slippry_box {
        
        height: 50vh;
        
        @include MQ(M){
            //min-height: 85vh;
            height: 100%;
            padding-left: 25%;
        }
    }
    
    .sy-slides-crop{
        //height: 100%;
    }
    
    .sy-list{
        //left: 20vw;
        //width: 80vw;
        //height: 100%;
    }
    
    .sy-slide{
        height: 100%;
    }
    
    .sy-controls{
        
        
        @include MQ(M){
            display: none !important;
        }
    }
}

.thumb-box {
    //padding: 1.4em 0 1em;
    //margin-left: -1%;
    //width: 102%;
    
    
    
    @include MQ(M){
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 100;
        width: 25%;
        display: flex;
    }
    
    .thumbs {
        flex: 1;
        background-color: ghostwhite;
        
        display: flex;
        flex-direction: column;
      
        li {
            flex: 1;
            display: flex;
            border-bottom: 1px solid grey;
            
            &:last-child{
                border-bottom: 0;
            }

            a{
                position: relative;
                flex: 1;
                display: none;
                color: black;
                min-height: 120px;
                transition: all 0.3s ease;
                
                @include MQ(M){
                    display: flex;
                }
                
                &:after{
                    content: "";
                    position: absolute;
                    z-index: 0;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    transition: all 0.3s ease;
                    width: 0;
                    
                    @include MQ(M){
                        right: -25px;
                    }
                }
                
                &.active{
                    display: block;
                    color: white;
                    transition: all 0.3s ease;
                    
                    @include MQ(M){
                        display: block;
                    }
                    
                    &:after{
                        background-color: $yellow;
                        opacity: 1;
                        width: 100%;
                        transition: all 0.3s ease;
                        
                        @include MQ(M){
                            width: calc(100% + 25px);
                        }
                    }
                }
                
                .content{
                    flex: 1;
                    position: relative;
                    z-index: 10;
                    padding: 20px;
                }
            }

            img {
                width: 100%;
                opacity: .8;
                border-bottom: 4px solid transparent;

                &.active {
                  border-color: $blue;
                  opacity: 1;
                }
            }

            &:hover {
                img {
                  opacity: 1;
                }
            }
        }
  }
}








.bg-change-program{
	background-color: gainsboro;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
	background-attachment: fixed !important;
	
	position: relative;
	height: calc(80vh);
	display: flex;
	align-items: center;
	
	&:after{
		content: "";
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: black;
		opacity: 0.8;
	}
	
	.content{
		position: relative;
		z-index: 10;
		flex: 1;
	}
}

.bg-venture-home-hero{
	background-color: gainsboro;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
	
	position: relative;
    padding: 40px 0;
	display: flex;
	align-items: center;
    
    @include MQ(M){
        padding: 40px 0;
    }
	
	&:after{
		content: "";
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: black;
		opacity: 0.8;
	}
	
	.content{
		position: relative;
		z-index: 10;
		flex: 1;
	}
}

.venture-hero{
    height: 150px;
    display: flex;justify-content: center;
    align-items: flex-end;
    margin-bottom: 40px;
    
    .logo{
        position: relative;
        transform: translateY(100%);
        background-color: white;
        padding: 5px;
        border: 1px solid gainsboro;
        border-radius: 0.25em;
        
        img{
            height: 5em;
        }
    }
}

.venture-hero-image{
    height: 300px;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.ynl-home-banner{
    display: flex;
    align-items: center;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    //background-color: gray;
    min-height: 280px;
    
    @include MQ(M){
        min-height: 150px;
    }
    
    &.image{
        min-height: 280px;
    
        @include MQ(M){
            min-height: 280px;
            
            &.sm{
                min-height: 160px;
            }
            
            &.lg{
                min-height: 420px;
            }
        }
        
        .title{
            color: black;
        }
        
        &:after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(255,255,255,0.7);
            z-index: 0;
            transition: all 0.4s ease;
        }
    }
    
    .content{
        position: relative;
        width: 100%;
        z-index: 1;
        
        @include MQ(M){
            
        }
    }
    
    .title{
        margin-bottom: 10px;
        font-size: 2em;
        font-weight: 300;
        line-height: 1.2em;
        color: black;

        @include MQ(M){
            font-size: 2.2em;
        }
    }
    
    .current-title{
        display: inline-block;
        background-color: $yellow;
        padding: 15px 20px;
        border-radius: 20px;
    }
    
    .tax-list-header{
        margin-bottom: 20px;
    }

}

.ynl-home-small-bg{
    position: relative;
    
    >*{
        position: relative;
        z-index: 1;
    }
    
    &:before{
        content: "";
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        right: 0;
        height: 140px;
        background-color: $green;
    }
}

.ynl-home-category-filter{
    display: flex;
    justify-content: center;
    
    li{
        padding-right: 60px;
        
        &:last-child{
            padding-right: 0;
        }
        
        a{
            color: rgba(255,255,255,0.8);
            
            &.active, &:hover{
                color: white;
            }
        }
    }
}

.ynl-thematic-tabs{
    
    li{
        
        padding-right: 60px;
        
        &:last-child{
            padding-right: 0;
        }
        
        a{
            padding: 0 !important;
            color: rgba(255,255,255,0.8);
            
            &.active, &:hover{
                color: white;
                background-color: transparent !important;
            }
        }
    }
}

.ynl-thematic-header-image{
    padding-top: 40px;
    
    @include MQ(M){
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        padding-top: 0;
        
        img{
            height: 280px;
        }
    }
}



.background-image{
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}