/*
*
*Main Navigation BEGIN
*
*/

.main-navigation{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 15px;
    border-bottom: 1px solid #d1d1d1;
    z-index: 1000;
    
    @include MQ(M){
        padding: 15px 80px 0;
    }
        
    .navigation-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 10;
    }
    
    .brand{
        display: flex;
        align-items: center;
        color: white;
        margin-right: 10px;
        
        @include MQ(M){
            margin-right: 50px;
        }
        
        .icon{
            height: 30px;
            width: 30px;
            
            @include MQ(M){
                height: 40px;
                width: 40px;
            }
        }
        
        .name{
            color: black;
            font-size: 1.2em;
            font-weight: 600;
            padding-left: 5px;
            
            @include MQ(M){
                font-size: 1.4em;
            }
        }
    }
    
    .action-btn-wrapper{
        display: flex;
        align-items: center;
    }
    
    .search{
        display: none;
        background-color: white;
        .search-btn{
            cursor: pointer;
            font-size: 1.2em;
        }
        .search-form{
            position: absolute;
            display: none;
            background-color: white;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 3;
            padding: 0 15px;
            
            @include MQ(M){
                //padding: 0 40px;
                padding: 0;
            }
            
            .wrapper{
                display: flex;
                align-items: center;
                height: 100%;
            }
            
            .search-box{
                font-size: 1.4em;
                outline: 0;
                border: 0;
                width: 100%;
                padding-right: 45px;
                
                @include MQ(M){
                    font-size: 2em;
                }
            }
            
            .close-btn{
                position: absolute;
                cursor: pointer;
                right: 15px;
                
                @include MQ(M){
                    //right: 40px;
                    right: 0;
                }
                
                .fa-circle{
                    color: gainsboro;
                }
                
                .fa-times{
                    color: white;
                }
            }
        }
    }
    
    .user-account{
        padding-left: 1em;
        display: none;
        
        @include MQ(M){
            display: block;
        }
        
        a, button{
            font-size: 0.8em;
            font-weight: 500;
            padding: 0.8em 1em;
            background-color: transparent;
            
            transition: 0.3s ease all;
        }
        
        .login{
            display: inline-block;
            border: 1px solid gainsboro;
            display: inline-flex;
            align-items: center;
            
            &:hover{
                color: black;
                border-color: black;
                transition: 0.3s ease all;
            }
        }
        
        .signup{
            display: inline-block;
            border: 1px solid $blue;
            background-color: $blue;
            color: white;
            
            
            &:hover{
                background-color: $ash;
                border-color: $ash;
                transition: 0.3s ease all;
            }
        }
        
        .dropdown{
            display: inline-block;
        }
        
        .dropdown-menu{
            background-color: white;
            border-radius: 0;
        }
        
        .account-info{
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        
        .profile-image{
            width: 2em;
            height: 2em;
            margin-right: 0.5em;
            border-radius: 50%;
            
            background-color: gainsboro;
            background-size: cover !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
        }
    }
    
    .navigation-list-wrapper{

        display: none;
        position: fixed;
        top: 65px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        overflow-y: auto;
        z-index: 2;
        
        @include MQ(M){
            margin-left: -20px;
            margin-right: -20px;
            position: static;
            display: flex;
            justify-content: space-between;
        }
        
        .user-account{
            display: block;

            @include MQ(M){
                display: none;
            }
        }
    }
    
    .navigation-list{
        
        @include MQ(M){
            display: block;
            position: static;
            display: flex;
            align-items: center;
            background-color: transparent;
            overflow-y: visible;
        }
        
        >li{
            display: block;
            font-size: 1em;
            font-weight: 300;
            border-bottom: 1px solid $bg_grey_dark;
            
            &:last-child{
                margin-bottom: 0;
                padding-bottom: 0;
                //border-bottom: 0;
            }
            
            @include MQ(M){
                margin: 0;
                border: 0;
                padding-bottom: 0;
                padding-left: 0;
                float: left;
                font-size: 0.9em;
                font-weight: 300;
                
                &:hover{
                    .sub-menu{
                        display: block;
                    }
                }
            }
            
            >a, span{
                display: block;
                font-weight: 500;
                padding: 23px 15px;
                color: black;
                cursor: pointer;
                
                @include MQ(M){
                    display: block;
                    font-weight: 500;
                    padding: 23px;
                    color: black;
                    position: relative;
                    
                    &:after{
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 20px;
                        right: 20px;
                        height: 3px;
                        transition: all 0.3s ease;
                    }
                }
                
                
                
                &:hover{
                    color: $green;
                    
                    &:after{
                        background-color: $green;
                        transition: all 0.3s ease;
                    }
                }
                
                &.red:hover, &.red.active{
                    color: $blue;
                    
                    &:after{
                        background-color: $blue;
                        transition: all 0.3s ease;
                    }
                }
                
                &.blue:hover, &.blue.active{
                    color: $blue;
                    a{
                        color: $blue !important;
                    }
                    
                    &:after{
                        background-color: $blue;
                        transition: all 0.3s ease;
                    }
                }
                
                &.yellow:hover, &.yellow.active{
                    color: $yellow;
                    
                    &:after{
                        background-color: $yellow;
                        transition: all 0.3s ease;
                    }
                }
            }
            
            >span, >a{
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                @include MQ(M){
                    i{
                        display: none;
                    }
                }
            }
        }
    }
    
    .sub-menu{
        display: none;

        @include MQ(M){
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            padding-top: 1px;
        }

        transition: all 0.3s ease;

        .sub-menu-content{
            position: relative;
            background-color: ghostwhite;
            padding: 20px 20px 0 20px;
            

            @include MQ(M){
                padding: 40px 80px;
                background-color: white;
            }
        }

        .sub-menu-header{
            margin-top: 10px;
            margin-bottom: 10px;
            color: black;
            font-weight: 600;
            
            display: flex;
            align-items: center;
            
            a, span{
                flex: 1;
            }

            @include MQ(M){
                margin-top: 0px;
                margin-bottom: 20px;
            }
        }
        
        .sub-menu-image-box{
            display: flex;
            align-items: center;
        }
        
        .sub-menu-title{
            margin-top: 10px;
            margin-bottom: 5px;
            color: black;
            font-weight: 400;
            line-height: 1.2em;
            
            display: flex;
            align-items: center;
            
            a{
                flex: 1;
            }
            
            &:before{
                content: "\f061";
                font-family: Fontawesome;
                font-size: 0.9em;
                color: black;
                padding-right: 1.5em;
            }

            @include MQ(M){
                margin-top: 0px;
                
                &:before{
                    display: none;
                }
            }
        }

        .sub-menu-caption{
            font-style: italic;
            font-size: 0.8em;
        }

        .sub-menu-list{
            padding-top: 15px;
            padding-bottom: 15px;
            
            li{
                font-weight: 300;
                padding-bottom: 20px;
                font-size: 1em;
                line-height: 1.2em;
                display: flex;
                
                &:before{
                    content: "\f061";
                    font-family: Fontawesome;
                    font-size: 0.9em;
                    color: black;
                    padding-right: 1.5em;
                }

                @include MQ(M){
                    padding-top: 0;
                    
                    &:before{
                        display: none;
                    }
                }
            }
        }
    }
    
    .image-item{
        img{
            border-radius: 0.5em;
        }
        
        .link-btn{
            display: inline-block;
            line-height: 1;
            color: white;
            padding: 0.6em 1.5em;
            margin-top: 0.5em;
            border: 1px solid transparent;
            border-radius: 1em;
            transition: 0.3s ease all;
            
            &:hover{
                color: gainsboro;
                background: white;
                border-color: gainsboro;
                transition: 0.3s ease all;
            }
        }
    }
    
    
    &.home-page{
        .brand{
            .icon{
                height: 30px;
                width: 30px;
            }

            .name{
                font-size: 1em;
            }
        }
        
        @include MQ(M){
            .brand{
                .icon{
                    height: 40px;
                    width: 40px;
                }

                .name{
                    font-size: 1.4em;
                }
            }
        }
    }
}

.main-navigation.sticky{
    
    @include MQ(M){
        padding: 0px 80px 0 100px;
        
        .brand{

            .name{
                display: none;
            }
        }
        
        .navigation-wrapper{
            position: absolute;
            top: 50%;
            left: 40px;
            right: 40px;
            transform: translateY(-50%);
        }
    }
}

.menu-btn{
    border: none !important;
    outline: none !important;
    margin-left: 20px;
}

.mobile-navigation{
    display: none;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #707070;
    background-color: #707070;
    
    @include MQ(L){
        display: none;
    }
    
    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
    }
    
    .brand{
        display: flex;
        align-items: center;
        color: white;
        margin-right: 10px;
        
        @include MQ(M){
            margin-right: 50px;
        }
        
        .icon{
            height: 30px;
            width: 30px;
            
            @include MQ(M){
                height: 40px;
                width: 40px;
            }
        }
        
        .name{
            color: white;
            font-size: 1.2em;
            font-weight: 600;
            padding-left: 5px;
            
            @include MQ(M){
                font-size: 1.4em;
            }
        }
    }
    
    .navigation-list{ 
        text-align: right;
        padding-top: 40px;
        padding-bottom: 20px;
        display: block;
        
        >li{ 
            display: block;
            
            &:last-child{
                margin-bottom: 0;
            }
            
            >a{
                padding: 15px;
                display: block;
                text-transform: uppercase;
                color: $yellow;
            }
        }
        
        .sub-list{
            padding: 15px 0;
            background-color: #5a5959;
            
            >li{ 
                display: block;

                &:last-child{
                    margin-bottom: 0;
                }

                >a{
                    padding: 15px;
                    display: block;
                    color: $yellow;
                }
            }
        }
    }
    
    .user-account{
        text-align: right;
        padding-left: 1em;
        padding: 15px;
        
        @include MQ(M){
            display: block;
        }
        
        a, button{
            font-size: 1em;
            font-weight: 500;
            padding: 0.8em 1.25em;
            background-color: transparent;
            
            transition: 0.3s ease all;
        }
        
        .login{
            display: inline-block;
            color: white;
            border: 1px solid white;
            display: inline-flex;
            align-items: center;
            margin-right: 0.5em;
            
            &:hover{
                color: black;
                border-color: white;
                background-color: white;
                transition: 0.3s ease all;
            }
        }
        
        .signup{
            display: inline-block;
            border: 1px solid $blue;
            background-color: $blue;
            color: white;
            
            
            &:hover{
                background-color: $ash;
                border-color: $ash;
                transition: 0.3s ease all;
            }
        }
        
        .dropdown{
            display: inline-block;
        }
        
        .dropdown-menu{
            background-color: white;
            border-radius: 0;
        }
        
        .account-info{
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        
        .profile-image{
            width: 2em;
            height: 2em;
            margin-right: 0.5em;
            border-radius: 50%;
            
            background-color: gainsboro;
            background-size: cover !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
        }
    }
}

/*
*
*Main Navigation END
*
*/

/*
*
*Side Navigation BEGIN
*
*/

.side-nav{
    //padding: 40px 20px;
    //background-color: #2c2c2c;
    display: none;
    
    &.sticky{
        position: fixed;
        top: 70px;
        left: 0;
        right: 0;
        //padding-left: 15px;
        //padding-right: 15px;
        z-index: 10;
        transition: all 0.3s ease;
        
        @include MQ(M){
            position: static;
        }
    }
    
    @include MQ(M){
        //padding: 40px;
        display: block;
    }
    
    .title{
        font-size: 1.5em;
        font-weight: 500;
        color: white;
        margin-bottom: 20px;
    }
    
    .list{
        display: none;
        
        @include MQ(M){
            display: block;
        }
        
        li{
            position: relative;
            
            &.active{
                a{
                    color: white;
                    
                    &:after {
                        content: "\f054";
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        color: inherit;
                        font-size: 0.8em;
                        font-family: FontAwesome;                        
                    } 
                }   
            }
            
            a{
                display: block;
                font-weight: 500;
                padding-top: 18px;
                padding-bottom: 18px;
                color: #ababab;
                border-bottom: 1px solid rgba(255,255,255,0.1);
                transition: all 0.3s ease;
                
                &:hover{
                    color: white;
                    transition: all 0.3s ease;
                }
            }
        }
    }
    
    .dropdown{
        @include MQ(M){
            display: none;
        }
        
        button{
            width: 100%;
            font-size: 0.9rem;
            text-align: left;
        }
        
        .dropdown-toggle::after {
            position: absolute;
            top: 50%;
            right: 30px;
            transform: translateY(-50%);
        }
    }
    
    .cta-btn{
        display: inline-block;
        border: 0.5px solid white;
        border-radius: 20px;
        background-color: rgba(0,0,0,0);
        color: white;
        padding: 12px 30px;
        font-weight: 500;
        transition: all 0.4s ease;

        &:hover{
            transition: all 0.4s ease;
            background-color: white;
        }
    }
}

.side-nav.white{
     background-color: none;
    
    .title{
        color: black;
    }
    
    .list{
        li{
            a{
                border-color: rgb(130, 128, 128);
                
                &:hover{
                    color: black;
                    transition: all 0.3s ease;
                }
            }
            
            &.active{
                a{
                    background-color: purple;
                    color: white;
                    font-weight: 600;
                    
                    &:after {
                        content: "\f054";
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                        color: inherit;
                        font-size: 0.8em;
                        font-family: FontAwesome;                        
                    } 
                }   
            }
            
            .level-2{
                li{
                    a{
                        padding-left: 20px;
                    }
                }
            }
            
            .level-3{
                li{
                    a{
                        padding-left: 40px;
                    }
                }
            }
        }
    }
}

.side-nav.white-text{
     background-color: none;
    
    .title{
        color: white;
    }
    
    .list{
        li{
            a{
                border-color: rgba(255, 255, 255, 0.5);
                color: white;
                
                &:hover{
                    color: black;
                    transition: all 0.3s ease;
                }
            }
            
            &.active{
                a{
                    color: white;
                    font-weight: 600;
                    
                    &:after {
                        content: "\f054";
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        color: inherit;
                        font-size: 0.8em;
                        font-family: FontAwesome;                        
                    } 
                }   
            }

        }
    }
}
/*
*
*Side Navigation END
*
*/

/*
*
*Overview Header BEGIN
*
*/

.overview-header{
    padding-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d1d1d1;
    
    .info-box{
        @include MQ(M){
            display: flex;
            justify-content: space-between;
        }
        
        .sponsor{
            border: 1px solid gainsboro;
            padding: 20px;
            text-align: center;
            
            .intro-text{
                font-size: 0.6rem;
                font-weight: 600;
                text-transform: uppercase;
//                /border-bottom: 1px solid gainsboro;
                margin-bottom: 10px;
                
            }
            
            .logo{
                width: 5em;
            }
        }
    }
    
    .title{
        color: black;
        font-size: 1.8em;
        font-weight: 500;
        margin-bottom: 30px;
        
        @include MQ(M){
            font-size: 2em;
            margin-bottom: 70px;
        }
        
        &.slim{
            font-size: 1.2em;
            color: grey;
            margin-bottom: 0;
            
            @include MQ(M){
                color: black;
                font-size: 2em;
                margin-bottom: 70px;
            }
        }
    }
    
    .subtitle{
        display: inline-block;
        background-color: $ash;
        color: white;
        font-size: 0.9em;
        font-weight: 500;
        padding: 0.5em 1.5em;
        margin-bottom: 10px;
        
        @include MQ(M){
            
        }
    }
    
    .header-nav{
        position: fixed;
        background-color: white;
        display: flex;
        flex-direction: column;
        z-index: 10;
        left: 0;
        bottom: 0;
        right: 0;
        height: 50vh;
        transform: translateY( calc( 50vh - 45px ) );
        transition: all 0.3s ease;
        
        &.open{
            transform: translateY(0);
            transition: all 0.3s ease;
        }
        
        @include MQ(M){
            overflow: visible;
            position: static;
            display: block;
            transform: translateY(0);
            height: auto;
            padding: 0;
        }
        
        .header-nav-title{
            //position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            font-weight: 500;
            color: black;
            background-color: $yellow;
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            
            @include MQ(M){
                display: none;
            }
            
            .icon{
                position: relative;
                
                &:after {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 5px 5px 0 5px;
                    border-color: white transparent transparent transparent;
                }
            }
        }
        
        ul{
            flex: 1;
            padding: 15px 40px;
            overflow: scroll;
            margin-left: -20px;
            margin-right: -20px;
            
            @include MQ(M){
                overflow: hidden;
                padding: 0;
            }
        }
        
        li{
            display: block;
            
            &.active{
                a{
                    color: purple;
                    font-weight: 600;
                    position: relative;
                    
                    &:before{
                        content: "";
                        position: absolute;
                        width: 0.6em;
                        height: 0.6em;
                        background-color: purple;
                        border-radius: 50%;
                        top: 20px;
                        left: 0;
                        
                        @include MQ(M){
                            top: 0;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                }
            }
            
            @include MQ(M){
                width: auto;
                float: left;
            }
            
            a{
                display: block;
                padding: 18px 20px 8px;
                font-weight: 500;
                color: $txt_lighter;
            }
        }
    }
}

.news-view-header{
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #d1d1d1;
    
    .title{
        color: black;
        font-size: 0.8em;
        font-weight: 500;
        
        a{
            padding-left: 1.2em;
            position: relative;
            
            &:after {
                content: "\f053";
                position: absolute;
                width: 2em;
                height: 2em;
                border-radius: 50%;
                top: 0.15em;
                left: 0;
                color: inherit;
                font-size: 0.8em;
                font-family: FontAwesome; 
                transition: all 0.3s ease;
            }
        }
    }
}

.magazine-header{
    padding: 30px 15px;
    border-bottom: 1px solid #d1d1d1;
    
    @include MQ(M){
        padding: 30px 80px;
        justify-content: space-between;
    }
    
    .title{
        color: black;
        font-size: 2em;
        font-weight: 600;
        margin-bottom: 10px;
        
        @include MQ(M){
            font-size: 2.8em;
            margin-bottom: 0;
        }
    }
    
    .dropdown{
        button{
            width: 100%;
            font-size: 0.9rem;
            text-align: left;
        }
        
        .dropdown-toggle::after {
            position: absolute;
            top: 50%;
            right: 30px;
            transform: translateY(-50%);
        }
    }
}

.overview-banner{
    display: block;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 280px;
    
    @include MQ(M){
        min-height: 450px;
    }
    
    &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 0;
        transition: all 0.4s ease;
    }
    
    .title{
        position: absolute;
        left: 20px;
        bottom: 20px;
        color: white;
        font-size: 2em;
        font-weight: 500;
        line-height: 1.4em;
        z-index: 1;
        
        @include MQ(M){
            font-size: 2.4em;
            left: 40px;
            bottom: 40px;
        }
    }

}

.article-banner{
    display: block;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 280px;
    
    @include MQ(M){
        min-height: 80vh;
    }
    
    &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 0;
        transition: all 0.4s ease;
    }
    
    .content{
        position: absolute;
        left: 20px;
        bottom: 20px;
        z-index: 1;
        
        @include MQ(M){
            left: 80px;
            right: 80px;
            bottom: 40px;
        }
    }
    
    .title{
        margin-bottom: 10px;
        
        a{
            font-size: 2em;
            font-weight: 500;
            line-height: 1.4em;
            color: white;
            text-decoration: underline;
            
            @include MQ(M){
                font-size: 2.4em;
            }
        }
    }
    
    .date{
        display: block;
        font-size: 1em;
        font-weight: 500;
        color: white;
        margin-bottom: 10px;
    }

}

.course-directory-banner{
    display: flex;
    align-items: center;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    //background-color: gray;
    min-height: 280px;
    
    @include MQ(M){
        min-height: 150px;
    }
    
    &.image{
        min-height: 280px;
    
        @include MQ(M){
            min-height: 280px;
            
            &.sm{
                min-height: 160px;
            }
            
            &.lg{
                min-height: 420px;
            }
        }
        
        .title{
            color: white;
        }
        
        &:after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5);
            z-index: 0;
            transition: all 0.4s ease;
        }
    }
    
    .content{
        position: relative;
        width: 100%;
        z-index: 1;
        
        @include MQ(M){
            
        }
    }
    
    .title{
        margin-bottom: 10px;
        font-size: 2em;
        font-weight: 300;
        line-height: 1.2em;
        color: black;

        @include MQ(M){
            font-size: 2.2em;
        }
    }
    
    .current-title{
        display: inline-block;
        background-color: $yellow;
        padding: 15px 20px;
        border-radius: 20px;
    }
    
    .tax-list-header{
        margin-bottom: 20px;
    }

}

.tax-list{
    overflow: hidden;
    
    li{
        display: block;
        float: left;
        font-size: 0.8em;
        margin-right: 0.5em;
        margin-bottom: 0.8em;            

        a{
            display: block;
            color: black;
            padding: 0.6em 1em;
            border: 1px solid black;
            border-radius: 1em;
            transition: all 0.3s ease;

            &:hover{
                border-color: $blue;
                color: $blue;
                transition: all 0.3s ease;
            }

            &.selected{
                background-color: $blue;
                border-color: $blue;
                color: white;
            }
        }
    }
    
    &.white{
        li{
            a{
                color: white;
                border-color: white;
                
                &:hover{
                    background-color: white;
                    border-color: white;
                    color: black;
                    transition: all 0.3s ease;
                }

                &.selected{
                    background-color: white;
                    border-color: white;
                    color: black;
                }
            }
        }
    }
}

.header-search{
    input{
        font-size: 1.1em;
        width: 100%;
        border: 0;
        outline: 0;
        padding: 10px 0;
        border-bottom: 1px solid gainsboro;
    }
}

.multi-article-sub-list{
    li{
        display: block;
    }
    
    @include MQ(M){
        display: none;
    }
}

/*
*
*Overview Header END
*
*/

.courses-sub-menu{
    border-bottom: 1px solid $bg_grey_dark;
    background-color: gainsboro;
    
    .list{
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        
        
        li{
            display: block;
            float: left;
            margin-right: 20px;
            
            &.active{
                border-bottom: 2px solid $green;
                a{
                    color: $green;
                    
                }
            }
            
            a{
                display: block;
                padding: 15px 0 10px;
                color: black;
                font-size: 0.9em;
                font-weight: 600;
                transition: all 0.3s ease;
                
                &:hover{
                    color: $green;
                    transition: all 0.3s ease;
                }
            }
        }
    }
}

.skills-nav-bar{
    display: flex;
    overflow: hidden;
    
    li{
        flex: 1;
        text-align: center;
        
        &.active{
            background-color: $yellow;
            
            a{
                border-color: white;
            }
        }
        
        a{
            display: block;
            padding: 20px;
            font-weight: 600;
            font-size: 0.9rem;
            color: black;
        }
    }
}


/* User Dashboard */
.user-dashboard{
    display: flex;
    height: 100vh;
    
    .dashboard-nav{
        flex: 20%;
        background-color: ghostwhite;
        
        .nav-header{
            padding-top: 20px;
            padding-left: 40px;
            margin-bottom: 80px;
            
            .brand{
                display: flex;
                align-items: center;
                color: white;
                margin-right: 50px;

                .icon{
                    height: 40px;
                    width: 40px;
                }

                .name{
                    color: black;
                    font-size: 1.4em;
                    font-weight: 600;
                    padding-left: 5px;
                }
            }
        }
        
        li{
            display: block;
            
            a{
                display: block;
                padding: 20px 10px 20px 40px;
                font-size: .9em;
                font-weight: 500;
                color: black;
                
                &:hover{
                   background-color: #ffdf7f;     
                }
                
                &.active{
                    background-color: #ffdf7f;
                }
            }
        }
    }
    .dashboard-body{
        flex: 80%;
        padding-top: 80px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
        overflow-y: scroll;
        
        .sub-nav{
            ul{
                overflow: hidden;
                border-bottom: 2px solid gainsboro;
                margin-bottom: 40px;
                
                li{
                    float: left;
                    
                    a{
                        display: block;
                        padding-bottom: 20px;
                        margin-right: 20px;
                        font-size: 0.9em;
                        font-weight: 500;
                        
                        &.active{
                            border-bottom: 2px solid $yellow;
                        }
                    }
                }
            }
        }
    }
}



/*
*
*Main Navigation BEGIN
*
*/

.dashboard-main-nav{
    position: fixed;
    height: 70px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: $yellow;
    
    &.nysc{
        background-color: $blue;
    }
    
    @include MQ(M){
        padding-top: 0.8rem;
    }
    
    >*{
        flex: 1;
    }
    
    .wrapper{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
    
    .brand{
        display: flex;
        align-items: center;
        color: black;

        .icon{
            height: 40px;
            width: 40px;
        }

        .name{
            font-size: 1.4em;
            font-weight: 600;
            padding-left: 5px;
        }
    }
    
    .nav-box{
        flex: 1;
        display: flex;
        align-items: center;
        
        display: none;
        position: fixed;
        top: 80px;
        left: 0;
        right: 0;
        
        padding: 20px 20px 20px 20px;
        margin-top: 3rem;
        
        @include MQ(L){
            padding: 0;
            margin: 0;
            border: 0;
            padding-left: 60px;
            display: block;
            position: static;
        }
    }

    .navigation-list{

        li{
            display: block;
            text-align: center;
            padding-bottom: 20px;
            border-bottom: 1px solid #eaeaea;
            margin-bottom: 20px;

            &:last-child{
                border-bottom: 0;
            }

            @include MQ(L){
                display: inline-block;
                border-bottom: 0;
                margin: 0;
                padding: 0;
                float: left;
                margin-right: 3em;
            }

            a{
                color: black;
                font-weight: 500;
                font-size: 0.8em;
                text-transform: uppercase;
                transition: color 0.3s ease;

                &:hover{
                    color: $yellow;
                    transition: color 0.3s ease;
                }
            }
        }
    }

    .home-button{
        @include MQ(L){
            display: none;
        }
        
        .menu-btn{
            outline: none;
        }
    }

    .user-account{
        padding-left: 1em;
        display: none;
        
        @include MQ(M){
            display: block;
        }
        
        a, button{
            font-size: 0.8em;
            font-weight: 500;
            padding: 0.8em 1em;
            background-color: transparent;
            
            transition: 0.3s ease all;
        }
        
        .login{
            display: inline-block;
            border: 1px solid black;
            display: inline-flex;
            align-items: center;
            color: black;
            
            &:hover{
                color: black;
                border-color: black;
                transition: 0.3s ease all;
            }
        }
        
        .signup{
            display: inline-block;
            border: 1px solid $blue;
            background-color: $blue;
            color: white;
            
            
            &:hover{
                background-color: gainsboro;
                border-color: gainsboro;
                transition: 0.3s ease all;
            }
        }
        
        .dropdown{
            display: inline-block;
        }
        
        .dropdown-menu{
            background-color: white;
            border-radius: 0;
        }
        
        .account-info{
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        
        .profile-image{
            width: 2em;
            height: 2em;
            margin-right: 0.5em;
            border-radius: 50%;
            
            background-color: gainsboro;
            background-size: cover !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
        }
    }
    
    .navigation-list-wrapper{
        display: none;
        position: fixed;
        top: 65px;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: auto;
        z-index: 2;
        
        @include MQ(M){
            margin-left: -20px;
            margin-right: -20px;
            position: static;
            display: flex;
            justify-content: space-between;
        }
        
        .user-account{
            display: block;

            @include MQ(M){
                display: none;
            }
        }
    }
    
    .navigation-list{
        
        @include MQ(M){
            display: block;
            position: static;
            display: flex;
            align-items: center;
            background-color: transparent;
            overflow-y: visible;
        }
        
        >li{
            display: block;
            font-size: 1em;
            font-weight: 300;
            border-bottom: 1px solid $bg_grey_dark;
            
            &:last-child{
                margin-bottom: 0;
                padding-bottom: 0;
                //border-bottom: 0;
            }
            
            @include MQ(M){
                margin: 0;
                border: 0;
                padding-bottom: 0;
                padding-left: 0;
                float: left;
                font-size: 0.9em;
                font-weight: 300;
                
                &:hover{
                    .sub-menu{
                        display: block;
                    }
                }
            }
            
            >a, span{
                display: block;
                font-weight: 500;
                padding: 23px 15px;
                color: black;
                cursor: pointer;
                
                @include MQ(M){
                    display: block;
                    font-weight: 500;
                    padding: 23px;
                    color: black;
                    position: relative;
                    
                    &:after{
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 20px;
                        right: 20px;
                        height: 3px;
                        transition: all 0.3s ease;
                    }
                }
                
                
                &:hover{
                    color: black;
                    
                    &:after{
                        background-color: darkgrey;
                        transition: all 0.3s ease;
                    }
                }

            }
            
            >span, >a{
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                @include MQ(M){
                    i{
                        display: none;
                    }
                }
            }
        }
    }
    
    .sub-menu{
        display: none;
        text-align: left;

        @include MQ(M){
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            //padding-top: 1px;
        }

        transition: all 0.3s ease;

        .sub-menu-content{
            position: relative;
            background-color: ghostwhite;
            padding: 20px 20px 0 20px;
            

            @include MQ(M){
                padding: 40px 80px;
                background-color: #3e3e3e;
            }
        }

        .sub-menu-header{
            margin-top: 10px;
            margin-bottom: 10px;
            color: gainsboro;
            font-weight: 600;
            
            display: flex;
            align-items: center;
            
            a, span{
                flex: 1;
            }

            @include MQ(M){
                margin-top: 0px;
                margin-bottom: 20px;
            }
        }
        
        .sub-menu-image-box{
            display: flex;
            align-items: center;
        }
        
        .sub-menu-title{
            margin-top: 10px;
            margin-bottom: 5px;
            color: black;
            font-weight: 400;
            line-height: 1.2em;
            
            display: flex;
            align-items: center;
            
            a{
                flex: 1;
            }

            &:before{
                content: "\f061";
                font-family: Fontawesome;
                font-size: 0.9em;
                color: black;
                padding-right: 1.5em;
            }

            @include MQ(M){
                margin-top: 0px;
                
                &:before{
                    display: none;
                }
            }
        }

        .sub-menu-caption{
            font-style: italic;
            font-size: 0.8em;
        }

        .sub-menu-list{
            padding-top: 15px;
            padding-bottom: 15px;
            
            li{
                font-weight: 300;
                padding-bottom: 20px;
                font-size: 1em;
                line-height: 1.2em;
                display: flex;
                
                &:before{
                    content: "\f061";
                    font-family: Fontawesome;
                    font-size: 0.9em;
                    color: black;
                    padding-right: 1.5em;
                }

                @include MQ(M){
                    padding-top: 0;
                    
                    &:before{
                        display: none;
                    }
                }
            }
        }
    }
}

.role-header{
    .top{
        padding: 40px 20px;
        padding-bottom: 180px;

        @include MQ(M){
            padding: 80px;
            padding-bottom: 160px;
        }
    }
    
    .bottom{
        padding-left: 20px;
        padding-right: 20px;

        @include MQ(M){
            padding-left: 80px;
            padding-right: 80px;
        }
        
        .role-image{
            background-size: cover !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            height: 280px;
            margin-top: -140px;
            
            @include MQ(M){
                height: 480px;
                margin-top: -100px;
            }
        }
    }
}

.task-image{
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    height: 250px;

    @include MQ(M){
        height: 350px;
    }
}

.track-header{
    padding: 40px 20px;
    padding-bottom: 35vh;
    
    background-image: url(../images/heroes/rotating_illustration_mob_2.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 50vh;

    @include MQ(M){
        background-image: url(../images/heroes/rotating_illustration.png),url(../images/heroes/rotating_illustration_2.png);
        background-position: left 35vh, bottom right;
        background-repeat: no-repeat, no-repeat;
        background-size: 35vh;
        
        padding: 80px;
        padding-bottom: 160px;
    }
}