* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
    
}

img{
    max-width: 100%;
}

body{
	background-color: white;
    position: relative;
    overflow-x: hidden;
    
    &.dim{
        
        &:after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: black;
            opacity: 0.2
        }
    }
}

.show{
    opacity: 1;
    transition: opacity 0.3s ease;
}

.noScroll{
    overflow: hidden;
}

.overflow-hidden{
    overflow: hidden;
}

.main-content{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: 60px;
    
    min-height: calc(100vh - 60px);
    
    
    @include MQ(M){
        margin-top: 127px;
        
        min-height: calc(100vh - 115px);
    }
}

.main-content-home{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-top: 100px;
    
    
    @include MQ(M){
        padding-top: 120px;
    }
}

.container-wrapper{
    padding-left: 15px;
    padding-right: 15px;
    
    @include MQ(M){
        padding-left: 80px;
        padding-right: 80px;
    }
}

.container-wrapper-40{
    padding-left: 15px;
    padding-right: 15px;
    
    @include MQ(M){
        padding-left: 40px;
        padding-right: 40px;
    }
}

.container-content{
    padding-left: 15px;
    padding-right: 15px;
    
    @include MQ(M){
        padding-left: 80px;
        padding-right: 0;
    }
}

.container-content-inverse{
    padding-left: 15px;
    padding-right: 15px;
    
    @include MQ(M){
        padding-left: 0;
        padding-right: 80px;
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.centered{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

a{
	//color: $txt_default;
    color: dimgrey;
	text-decoration: none;
	text-decoration-line: none;
    text-decoration-style: none;
    text-decoration-color: none;
    text-decoration-skip: none;
    
    transition: color 0.3s ease;
}

a::link {
    background-color: none;
}

a::visited {
    color: $yellow_dark;
}

a:hover {
    color: $yellow_dark;
    text-decoration: none;
    cursor: pointer;
    
    transition: color 0.3s ease;
}

a:active {
    color: $yellow_dark;
}


//Card hover fade
.card_section:hover .card:not(:hover){
    opacity: 0.9;
}

//Bootstrap Grid Fix
.container{
    
    @include MQ(M){
        padding: 0;
    }
}

.row{
    margin: 0;
    //width: 100%;
}

.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    //flex-wrap: wrap;
    margin: 0;
    
    @include MQ(M){
        justify-content: center;
    }
}

//.row.is-flex > [class*='col-'] {
//    display: -webkit-box;
//    display: -webkit-flex;
//    display: -ms-flexbox;
//    display: flex;
//
//
//    padding: 0;
//}

[class*='col-'], .col{
    padding: 0;
}

.inline-block{
    display: inline-block;
}

.full-width{
    width: 100%;
}

.tooltip-inner {
    max-width: 350px;
    /* If max-width does not work, try using width instead */
    width: 350px; 
}

//Swiper
html, body {
    position: relative;
}
.swiper-container, .swiper-container-project-gallery{
    position: relative;
    width: 100%;
    height: 100%;
}

.swiper-pagination{
    text-align: center;
    padding-left: 20px;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 100%;
    background: #fff;
    border: 1px solid $bg_red;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: $bg_red;
}

.grayscale{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}