
$S: 576px; // Small phones Styles are written for this breakpoint by default, so no need to specify it.
$M: 768px; // Phablets   
$L: 992px; // 10" Tablets and desktops
$XL: 1200px; // desktops..  

$bg_white: white;
$bg_black: black;
//$bg_grey: #F8F8FF;
$bg_grey: #f5f2e9;
$bg_grey_dark: #ddd;
$bg_red: #B80000;
$bg_red_hover: #f44336;
$txt_default: #555;
$txt_light: rgb(102, 102, 102);
$txt_lighter: #ababab;
$txt_lightest: #cacaca;
$border_light: #eee;
$txt_dark: black;
$bg_orange: #f58634;
$bg_orange_2: #d26819;
$bg_orange_dark: #974001;
$bg_skyblue: #93b5b3;
$footer_text: #6c6c6c;

$yellow_light: #FFEFBE;
$yellow: #f4c026;
$yellow_dark: #CE9C0C;
$yellow_darker: #946c00;
$yellow_green: rgba(116, 132, 19, 0.84);
$green: green;
$green_light: limegreen;
$green_lime: #d4da59;
$green_army: #3a4002;
$blue: #00bfe7;
$blue_light: skyblue;
$blue_dark: #020540;
$off_black: grey;
$black_off: #161719;
$ash: #828181;
$brown: #7d5733;
$purple: #e60178;
$career_purple: #b55085;

$youtube: darkred;
$facebook: #3B5998;
$twitter: #1DA1F2;
$instagram: #fb3958;
$linkedin: #0077B5;

