.panel-group{
    margin-bottom: 0;
}

.custom-panel{
    .panel-default, .panel-heading{
        //color: white;
        background-color: transparent;
        border: none;
        box-shadow: none;
    }
    
    .panel, .panel-group .panel-heading+.panel-collapse>.panel-body{
        border: none;
    }
    
    .panel-group .panel+.panel {
        margin-top: 2px;
    }
    
    .panel-default{
        //border-bottom: 1px solid $bg_grey_dark;
    }
    
    .panel-heading{
        //padding: 20px 10px 20px 30px;
        background-color: $bg_grey;
        padding: 10px 15px;
        margin-bottom: 5px;
            >a{
               // color: white;
                display: block;
                overflow: hidden;
                transition: all 0.3s ease;
                text-decoration: none;
            }
        
        .panel-title{
            color: $bg_orange_dark;
            font-size: 1em;
            position: relative;
            
            a{
               // color: white;
                display: block;
                overflow: hidden;
                transition: all 0.3s ease;
                text-decoration: none;
            }
            
            a:hover{
                color: $bg_orange;
                transition: all 0.3s ease;
            }
            
            a[aria-expanded="false"]::after{
                display: block;
                position: absolute;
                top: 0;
                right: 20px;
                content: "";
                width: 1em;
                height: 1em;
                //background-image: url('../images/icons/icons8-expand-arrow.png');
                background-image: url('../images/icons/icons8-chevron-down.png');
                background-size: contain;
                transition: all 0.3s ease;
            }
            
            a[aria-expanded="true"]::after{
                display: block;
                position: absolute;
                top: 0;
                right: 20px;
                content: "";
                width: 1.2em;
                height: 1.2em;
                background-image: url('../images/icons/icons8-chevron-up.png');
                background-size: contain;
                transition: all 0.3s ease;
            }
            
        }
        
        .panel-title.flip{
            a[aria-expanded="true"] { 
                color: $bg_orange;
            }
        }
    }
    
    .panel-body{
        //padding: 20px 0 20px 20px;
        padding: 15px;
        
        .fieldLabel{
            margin-bottom: 10px;
            font-size: 0.9em;
            font-weight: 400;
        }
        
        .fieldValue{
            margin-bottom: 10px;
            font-size: 0.9em;
        }
        
        @include MQ(M){
            //padding: 20px 40px 20px 40px;
        }
       // background-color: $bg_grey;
    }
    
    .panel-body.white{
        padding: 0;
        background-color: $bg_grey;
    }
    
    .course-list{
        li{
            font-size: 1em;
            margin-bottom: 20px;
        }
        
        a{
            color: white;
            transition: all 0.3s ease;
            text-decoration: none;
        }

        a:hover{
            color: $bg_orange;
            transition: all 0.3s ease;
        }
    }
}

.custom-panel.white{
    color: white;
    
    .panel-heading+.panel-collapse>.panel-body{
        border-bottom: 1px solid rgba(255,255,255,0.25);
    }
    
    .panel-default{
        border-bottom: 0;
    }
    
    .panel-heading{
        border-bottom: 1px solid rgba(255,255,255,0.25);
        
        .panel-title{
            color: white;
            font-size: 1em;
            position: relative;
            
            a{
               // color: white;
                display: block;
                transition: all 0.3s ease;
                text-decoration: none;
            }
            
            a:hover{
                color: $bg_orange;
                transition: all 0.3s ease;
            }
            
            a::after{
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                content: "";
                width: 1em;
                height: 1em;
                background-image: url('../images/icons/icons8-expand-arrow.png');
                background-size: contain;
                transition: all 0.3s ease;
            }
            
            a.toggle-icon.open::after{
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                content: "";
                width: 1.2em;
                height: 1.2em;
                background-image: url('../images/icons/icons8-minus.png');
                background-size: contain;
                transition: all 0.3s ease;
            }
        }
    }
}

//Custom Modal
.coming-soon-modal{
    
    
    &.black{
        color: white;
    }
    
    .modal-content{
        border-radius: 0;
    }
    
    .content{
        display: flex;
        flex: 1;
    }
    
    .close{
        position: absolute;
        top: 8px;
        right: 8px;
        z-index: 1;
        line-height: 1rem;
        color: white;
    }
    
    .left{
        background-color: $blue;
        padding: 40px 30px;
    }
    
    .right{
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        
        min-height: 320px;
        
        @include MQ(M){
            min-height: 480px;
        }
    }
    
    .code-label{
        display: inline-block;
        border-radius: 1em;
        background-color: white;
        color: #00bfe7;
        padding: 1em 1.5em;
        line-height: 0;
    }
}

//SHC Modal
.shc-modal{
    padding-right: 0 !important;
    
    &.black{
        color: white;
    }
    
    .modal-content{
        border-radius: 0;
        background-color: rgba(255,255,255,0.95);
    }
    
    .modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        min-width: 100%;
    }

    .modal-dialog {
        position: fixed;
        margin: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        min-width: 100%;
    }

    .modal-content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 0;
        box-shadow: none;
        min-width: 100%;
        overflow-y: scroll;
    }

    
    .content{
        display: flex;
        flex: 1;
    }
    
    .close{
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1;
        line-height: 1rem;
        color: black;
    }
    
    .code-label{
        display: inline-block;
        border-radius: 1em;
        background-color: white;
        color: #00bfe7;
        padding: 1em 1.5em;
        line-height: 0;
    }
}

//Product Category Modal
.product-category-modal{
    padding-right: 0 !important;
    
    &.black{
        color: white;
    }
    
    .modal-content{
        border-radius: 0;
        background-color: rgba(255,255,255,0.95);
    }
    
    .modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        min-width: 100%;
    }
    
    .content{
        display: flex;
        flex: 1;
    }
    
    .close{
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1;
        line-height: 1rem;
        color: black;
    }
    
    .code-label{
        display: inline-block;
        border-radius: 1em;
        background-color: white;
        color: #00bfe7;
        padding: 1em 1.5em;
        line-height: 0;
    }
}


//inverse-hover
.inverse-hover{
    color: transparent;
    transition: all 0.3s ease;
    border-top: 1px solid $bg_grey_dark !important;
    
    &:hover{
        background-color: $bg-orange;
        color: white;
        transition: all 0.3s ease;
        
        a{
            color: white !Important;
        }
    }
}

//Faculty Box
.faculty-box{
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    
    @include MQ(M){
        padding-right: 30px
    }
 
    .bottom{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
        .cto{
            position: absolute;
            margin: 0;
            left: 20px;
            bottom: 20px;
            z-index: 2;
        }
    
        .description{
            position: absolute;
            top: 50%;
            left: 0;
            border-radius: 50%;
            opacity: 0;
            height: 100%;
            font-size: 1.1em;
            padding: 20px;
            color: $bg_orange;
            background-color: rgba(255,255,255,0.9);
            
            transition: all 0.3s ease;
            
            @include MQ(M){
                margin-right: 30px
            }
        }
        
        &:hover{
            
            .description{
                opacity: 1;
                border-radius: 0;
                transition: all 0.3s ease;
            }
        }
    }
    
}


//Vertical Timeline
.timeline-container{
    position: relative;
    color: black;
    
    &::after{
        content: '';
        position: absolute;
        width: 2px;
        border-radius: 2px;
        background-color: rgba(255,255,255,0.7);
        top: 0;
        bottom: 0;
        left: 22px;
        
        @include MQ(M){
            left: 40px;
        }
    }
    
    .timeline-list{
        span{
            display: block;
        }
    }
    
    .timeline-item{
        position: relative;
        display: flex;
        flex-direction: column;
        margin-left: 40px;
        margin-bottom: 80px;
        border-radius: 8px;
        background-color: rgba(255,255,255,1);
        box-shadow: 0 0 24px rgba(0,0,0,.4);
        
        &:last-child{
            margin-bottom: 20px;
        }
        
        @include MQ(M){
            width: 50%;
            margin-left: 70px;
            flex-direction: row;
        }
        
        &::after{
            content: '';
            position: absolute;
            width: 12px;
            height: 12px;
            background-color: white;
            border: 3px solid #FF9F55;
            top: 3px;
            left: -23px;
            border-radius: 50%;
            z-index: 1;
            
            @include MQ(M){
                width: 16px;
                height: 16px;
                border: 4px solid #FF9F55;
                top: 4px;
                left: -22px;
                top: 11px;
                left: -37px;
            }
        }
    }
    
    .course-image{
        min-height: 120px;
        border-radius: 8px 0 0 8px;
        
        background: url('../images/heroes/pedestrians.jpg');
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        
        @include MQ(M){
            width: 120px;
            min-height: 240px;
        }
    }
    
    .content{
        flex: 1;
        padding: 20px;
    }
    
    .date{
        position: absolute;
        top: 0;
        left: -50px;
        font-size: 1em;
        color: white;
        
        @include MQ(M){
            font-size: 2em;
            left: -100px;
        }
    }
    
    i{
        margin-right: 10px;
    }
    
    .title{
        font-size: 1.5em;
        margin-bottom: 20px;
    }
    
    .faculty{
        font-size: 0.7em;
        margin-bottom: 8px;
    }
    
    .duration{
        margin-bottom: 20px;
        font-size: 0.8em;
        color: $txt_light;
    }
    
    .description{
        font-size: 0.8em;
        line-height: 1.3em;
        margin-bottom: 40px;
    }
    
    .cto{
        font-size: 0.8em;
        font-weight: 600;
        margin-right: 20px;
    }
    
    .cto-2{
        color: black;
        font-size: 0.8em;
        font-weight: 600;
    }
}


// SHC Tabs
.shc-tab{
    .nav-pills{
        display: block;
    }
    
    .nav-link{
        color: black;
        font-weight: 400;
        padding: 0;
        margin-bottom: 1em;
        
        &.active{
            background-color: transparent;
            color: black;
            font-weight: 500;
        }
    }
}

//Custom tabs
.custom-tabs{
    .cto{
        display: flex;
        align-items: center;
        
        a{
            color: white;
        }
        
        img{
            transition: all 0.3s ease;
        }
        
        &:hover{
            img{
                transform: translateX(10px);
                transition: all 0.3s ease;
            }
        }
        
    }
    
    .nav-tabs {
        border: none;
    }
    
    .nav-tabs>li {
        color: #555;
        border: none;
        padding-right: 20px;
        margin-right: 20px;
        border-right: 1px solid #555;
        
        &:last-child{
            border: none;
        }
    }
    
    .nav-tabs>li>a, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
        color: #555;
        background-color: transparent;
        border: none;
        border-bottom-color: transparent;
        padding: 0;
        padding-bottom: 4px;
        margin: 0;
    }
    
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
        color: white;
        background-color: transparent;
        border-bottom: 2px solid white;
        
        &:after {
            border-top-color: #FFF;
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 5px 0;
            border-bottom-color: transparent;
            border-right-color: transparent;
            border-left-color: transparent;
            bottom: -6px;
            left: calc(50% - 5px);
        }
    }
    
}


//Custom tabs Calendar
.custom-tabs-calendar{
    .cto{
        display: flex;
        align-items: center;
        
        a{
            color: black;
        }
        
        img{
            transition: all 0.3s ease;
        }
        
        &:hover{
            img{
                transform: translateX(10px);
                transition: all 0.3s ease;
            }
        }
        
    }
    
    .nav-tabs {
        border: none;
    }
    
    .nav-tabs>li {
        color: #555;
        border: none;
        padding-right: 20px;
        margin-right: 20px;
        font-size: 1.4em;
    }
    
    .nav-tabs>li>a, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
        color: #555;
        background-color: transparent;
        border: none;
        border-bottom-color: transparent;
        padding: 0;
        padding-bottom: 4px;
        margin: 0;
    }
    
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
        color: $bg_orange;
        background-color: transparent;
        border-bottom: 2px solid $bg_orange;
        
        &:after {
            border-top-color: $bg_orange;
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 5px 0;
            border-bottom-color: transparent;
            border-right-color: transparent;
            border-left-color: transparent;
            bottom: -6px;
            left: calc(50% - 5px);
        }
    }
    
}

.directory-tab{
    .nav-tabs {
        border-bottom: 1px solid #ededed;
        width: 100%;
        position: relative;
        display: block;
        overflow: hidden;
        margin-bottom: 40px;
        padding-bottom: 30px;
        border-bottom: 1px solid gainsboro;
    }
    
    .nav-tabs .nav-item {
        display: block;
        float: left;
        padding-right: 0.5em;
        margin-bottom: 0.5em;
    }
    
    .nav-tabs .nav-link {
        display: block;
        font-size: 0.8em;
        padding: 0.5em;
        border: 0;
        border: 1px solid darkgrey;
        border-radius: 0.5em;
        background-color: gainsboro;
        color: black;
        
        @include MQ(M){
            padding: 0.8em 1.5em;
        }
        
    }
    
    .nav-tabs .nav-link[aria-selected="true"] { 
        background-color: black;
        color: white;
    }
    
}

.how-it-works-tab{
    .nav-tabs {
        border-bottom: 1px solid #ededed;
        width: 100%;
        position: relative;
        display: block;
        overflow: hidden;
        margin-bottom: 40px;
        padding-bottom: 30px;
    }
    
    .nav-tabs .nav-item {
        display: block;
        float: left;
        padding-right: 0.5em;
        margin-bottom: 0.5em;
    }
    
    .nav-tabs .nav-link {
        display: block;
        font-size: 1em;
        font-weight: 600;
        padding: 0.5em 0;
        margin-right: 20px;
        border: 0;
        border-bottom: 4px solid transparent;
        color: darkgrey;
        
        @include MQ(M){
            padding: 0.8em 0;
        }
        
    }
    
    .nav-tabs .nav-link[aria-selected="true"] { 
        border-color: $green;
        color: black;
        background-color: transparent;
    }
    
}

.faq-accordion{
    .card{
        background-color: transparent;
        border: 0;
        
        .card-header{
            background-color: transparent;
            padding: 20px 0;
        }
        
        >.card-body{
            background-color: white;
            padding: .75rem 0;
            border-bottom: 1px solid $bg_grey;
        }
    }
    
    .btn-link{
        white-space: normal;
        text-align: left;
        padding: 0;
        padding-left: 40px;
        line-height: 1.1em;
        color: black;
        
        border: 0;
        outline: 0;
        cursor: pointer;
        
        display: block;
        width: 100%;
        position: relative;

        
        &:hover{
            text-decoration: none;
        }
        
        &:after{
            content: "";
            position: absolute;
            top: 50%;
            left: 0.35em;
            transform: translateY(-50%);
            
            height: 0.8em;
            width: 0.1em;
            background-color: black;
            transition: all 0.3s ease;
        }
        
        &:before{
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            
            width: 0.8em;
            height: 0.1em;
            background-color: $green;
            transition: all 0.3s ease;
        }
    }
    
    .btn[aria-expanded="true"] { 
        color: $green;
        
        &:before{
            background-color: $green;
        }
        
        &:after{
            opacity: 0;
            transition: all 0.3s ease;
        }
    }
    
    
    .btn-link.focus, .btn-link:focus {
        text-decoration: none;
    }
    
    &.white{
        .btn-link{
            color: white;
            margin: 0;
            
            &:after{
                background-color: white;
            }

            &:before{
                background-color: white;
            }
        }
        
        .card{
            border-bottom: 1px solid gainsboro;
            
            .card-header{
                border: 0;
                padding: 20px 0;
            }

            .card-body{
                background-color: transparent;
                padding: .75rem 0;
                border: 0;
            }
        }
    }
}

.dashboard-accordion{
    .card{
        background-color: transparent;
        border: 0;
        
        .card-header{
            background-color: transparent;
            padding: 20px 0;
        }
        
        >.card-body{
            background-color: white;
            padding: .75rem 0;
            border-bottom: 1px solid $bg_grey;
        }
    }
    
    .btn-link{
        white-space: normal;
        text-align: left;
        padding: 0;
        padding-right: 40px;
        line-height: 1.1em;
        color: black;
        
        border: 0;
        outline: 0;
        cursor: pointer;
        
        display: block;
        width: 100%;
        position: relative;

        
        &:hover{
            text-decoration: none;
        }
        
        &:after{
            content: "";
            position: absolute;
            top: 50%;
            right: 0.35em;
            transform: translateY(-50%);
            
            height: 0.8em;
            width: 0.1em;
            background-color: black;
            transition: all 0.3s ease;
        }
        
        &:before{
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            
            width: 0.8em;
            height: 0.1em;
            background-color: black;
            transition: all 0.3s ease;
        }
    }
    
    .btn[aria-expanded="true"] { 
        color: $green;
        
        &:before{
            background-color: black;
        }
        
        &:after{
            opacity: 0;
            transition: all 0.3s ease;
        }
    }
    
    
    .btn-link.focus, .btn-link:focus {
        text-decoration: none;
    }
    
    &.white{
        .btn-link{
            //color: white;
            margin: 0;
            
            &:after{
                background-color: white;
            }

            &:before{
                background-color: white;
            }
        }
        
        .card{
            border-bottom: 1px solid gainsboro;
            
            .card-header{
                border: 0;
                padding: 20px 0;
            }

            .card-body{
                background-color: transparent;
                padding: .75rem 0;
                border: 0;
            }
        }
    }
}

// FAQ Collapse
.faq-collapse{
    
    background-color: ghostwhite;
    
    &.padding{
        padding: 1em;
    }
    
    .card{
        background-color: transparent;
        border: 0;
        
        .card-header{
            background-color: transparent;
            padding: 20px 0;
        }
        
        .card-body{
            background-color: white;
            padding: .75rem 0;
            border-bottom: 1px solid $bg_grey;
        }
    }
    
    .faq-btn{
        white-space: normal;
        text-align: left;
        background-color: transparent;
        border: 0;
        outline: 0;
        padding: 0;
        padding-left: 20px;
        line-height: 1.1em;
        color: black;
        cursor: pointer;
        
        display: block;
        width: 100%;
        position: relative;

        
        &:hover{
            text-decoration: none;
        }
        
        &:after{
            content: "";
            position: absolute;
            top: 50%;
            left: 0.35em;
            transform: translateY(-50%);
            
            height: 0.8em;
            width: 0.15em;
            background-color: black;
            transition: all 0.3s ease;
        }
        
        &:before{
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            
            width: 0.8em;
            height: 0.15em;
            background-color: $green;
            transition: all 0.3s ease;
        }
    }
    
    .faq-btn[aria-expanded="true"] { 
        color: $green;
        
        &:before{
            background-color: $green;
        }
        
        &:after{
            opacity: 0;
            transition: all 0.3s ease;
        }
    }
}

// FAQ Collapse
.profile-collapse{
        
    padding: 0;
    
    .card{
        background-color: transparent;
        border: 0;
        
        .card-header{
            background-color: transparent;
            padding: 20px 0;
        }
        
        .card-body{
            background-color: white;
            padding: .75rem 0;
            border-bottom: 1px solid $bg_grey;
        }
    }
    
    .faq-btn{
        white-space: normal;
        text-align: left;
        background-color: transparent;
        border: 0;
        outline: 0;
        padding: 0;
        //padding-left: 20px;
        line-height: 1.1em;
        color: black;
        cursor: pointer;
        
        display: block;
        width: 100%;
        position: relative;

        
        &:hover{
            text-decoration: none;
        }
        
        &:before, &:after{
            display: none;
        }
        
        &:after{
            content: "";
            position: absolute;
            top: 50%;
            left: 0.35em;
            transform: translateY(-50%);
            
            height: 0.8em;
            width: 1px;
            background-color: black;
            transition: all 0.3s ease;
        }
        
        &:before{
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            
            width: 0.8em;
            height: 1px;
            background-color: $green;
            transition: all 0.3s ease;
        }
    }
    
    .faq-btn[aria-expanded="true"] { 
        color: $green;
        
        &:before{
            background-color: $green;
        }
        
        &:after{
            opacity: 0;
            transition: all 0.3s ease;
        }
    }
}

// Filter Accordion
.filter-accordion{
    .btn{
        &:after{
            transform: rotateZ(0deg);
            transition: transform 0.3s ease;
        }
    }
    
    .btn[aria-expanded="true"]{
        background-color: $green;
        color: white;
        
        &:after{
            transform: rotateZ(180deg);
            transition: all 0.3s ease;
        }
    }
}



// Angle Collapse
.angle-collapse{
    .bg-trans{
        background-color: transparent !important;
    }
    
    .card{
        background-color: transparent;
        border: 0;
        padding: 20px 0 0 0;
        
        .card-header{
            background-color: transparent;
            padding: 20px 0;
        }
        
        >.card-body{
            padding: .75rem 0 !important;
            border-bottom: 1px solid $bg_grey;
            background-color: transparent !important;
        }
    }
    
    .angle-btn{
        white-space: normal;
        text-align: left;
        background-color: transparent;
        border: 0;
        outline: 0;
        padding: 0;
        padding-right: 20px;
        line-height: 1.1em;
        color: black;
        cursor: pointer;
        
        display: block;
        width: 100%;
        position: relative;

        
        &:hover{
            text-decoration: none;
        }
        
        &:after{
            content: "\f107";
            font-family: FontAwesome;
            position: absolute;
            top: 50%;
            right: 0.35em;
            transform: translateY(-50%);
            
            transition: all 0.3s ease;
        }
        
    }
    
    .faq-btn[aria-expanded="true"] { 
        
        &:after{
            opacity: 0;
            transition: all 0.3s ease;
        }
    }
}

//Conduct
.conduct-accordion{
    .card{
        background-color: transparent;
        border: 0;
        
        .card-header{
            background-color: transparent;
            padding: .75rem 0;
        }
        
        .card-body{
            background-color: white;
            padding: .75rem 0;
            border-bottom: 1px solid $bg_grey;
        }
    }
    
    .btn{
        white-space: normal;
        text-align: left;
        padding: 0;
        color: $bg_red;
        
        display: block;
        width: 100%;
        position: relative;
        
        &:after{
            content: "";
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 5px 0 5px;
            border-color: $bg_red transparent transparent transparent;
        }
    }
    
    .btn[aria-expanded="true"] { 
        
        
        &:after{
            content: "";
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 5px 5px 5px;
            border-color: transparent transparent $bg_red transparent; 
        }
    }
    
    .btn-link{
        color: $bg_red;
        font-size: 1.4em;
        
        
        &:hover{
            text-decoration: none;
        }
    }
}

.user-dashboard-accordion{
    .card{
        background-color: transparent;
        border: 0;
        
        .card-header{
            background-color: transparent;
            padding: 20px 0;
        }
        
        >.card-body{
            background-color: white;
            padding: .75rem 0;
            border-bottom: 1px solid $bg_grey;
        }
    }
    
    .btn-link{
        white-space: normal;
        text-align: left;
        padding: 20px;
        background-color: $bg_grey !important;
        padding-left: 40px;
        line-height: 1.1em;
        color: black;
        font-weight: 500 !important;
        font-size: 1rem;
        border: 0;
        outline: 0;
        cursor: pointer;
        
        display: block;
        width: 100%;
        position: relative;

        
        &:hover{
            text-decoration: none;
        }
        
        &:after{
            content: "";
            position: absolute;
            top: 50%;
            left: 1.35em;
            transform: translateY(-50%);
            
            height: 0.8em;
            width: 0.1em;
            background-color: black;
            transition: all 0.3s ease;
        }
        
        &:before{
            content: "";
            position: absolute;
            left: 1em;
            top: 50%;
            transform: translateY(-50%);
            
            width: 0.8em;
            height: 0.1em;
            background-color: $green;
            transition: all 0.3s ease;
        }
    }
    
    .btn[aria-expanded="true"] { 
        color: $green;
        
        &:before{
            background-color: $green;
        }
        
        &:after{
            opacity: 0;
            transition: all 0.3s ease;
        }
    }
    
    
    .btn-link.focus, .btn-link:focus {
        text-decoration: none;
    }
    
    &.white{
        .btn-link{
            color: white;
            margin: 0;
            
            &:after{
                background-color: white;
            }

            &:before{
                background-color: white;
            }
        }
        
        .card{
            border-bottom: 1px solid gainsboro;
            
            .card-header{
                border: 0;
                padding: 20px 0;
            }

            .card-body{
                background-color: transparent;
                padding: .75rem 0;
                border: 0;
            }
        }
    }
}

//Contact Person
.contact-person{
    position: relative;
    overflow: hidden;
    
    .wrapper{
        position: relative;
        transition: all 0.3s ease;
        
        &.open{
            transform: translateX(-100%);
            transition: all 0.3s ease;
        }
    }
    
    form{
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        
        input{
            border: 0;
            padding: 0;
            margin: 0;
            
            border-bottom: 1px solid grey;
            outline: 0;
            padding-bottom: 10px;
            margin-bottom: 10px;
            font-size: 0.8em;
        }
        
        .buttons{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 10px;
        }
        
        .submit{
            display: block;
            width: 100%;
            margin-right: 10px;
            text-align: left;
        }
        
        .ask-a-question-close{
            flex: 1;
            display: block;
            color: black;
            //background-color: black;
            width: 30px;
            height: 30px;
            padding: 7px;
            //border-radius: 50%;
        }
    }
}


.animated-arrow{
    span{
        display: block;
        float: left;
    }
    
    img{
        transition: all 0.3s ease;
        height: 17px;
        margin-left: 10px;
        display: block;
        float: left;
    }
    
    &:hover{
        img{
            transform: translateX(10px);
            transition: all 0.3s ease;
        }
    }
}

//
.floated-arrow{
    position: relative;
    img{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%)
    }
}

//
.floated-icon-right{
    position: relative;
    padding-right: 40px;
    
    .icon{
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%)
    }
}

//Pagination
.pagination-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    
    li{
        font-size: 0.8em;
        display: block;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;


        a, span{
            display: block;
            color: grey;
            border: 2px solid #f5f5f5;
            padding: 4px 10px;

            transition: all 0.3s ease;
            
            &.current{
                color: white;
                background-color: $bg_red;
                border-color: $bg_red;
            }
        }

        &:hover{

            a{
                border-color: $bg_red;
                transition: all 0.3s ease;
            }
        }

    }
    
}


//job-filter-box
.job-filter-box{
    position: relative;
    
    .move {
        position: relative;
        top: -20px;
    }
}

//job-box fix
.job-box{
    //border-bottom: 1px solid $bg_grey_dark;
    //padding-bottom: 30px;
    //margin-bottom: 30px;
    
    &:hover{
        //border-bottom-color: grey;
    }
    
    .collapse.in {
        display: inline !Important;
    }

    a[aria-expanded="true"] { 
        display: none;
    }
    
    .location-box{
        position: relative;
        
        .item{
            display: inline-block;
            padding: 0 10px 10px;
        }
        
        >i{
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

//team-member-offset
.team-member-offset{
    position: relative;
    padding-left: 37px;
    
    .team-member-image{
        position: absolute;
        height: 120px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    
    .team-member-image-box{
        position: absolute;
        width: 120px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        
        img{
            width: 120px;
        }
    }
    
    .details{
        display: block;
        color: black;
        padding: 20px 20px 20px 110px;
        border: 1px solid $green;
        transition: all 0.3s ease;
        
        &:hover{
            background-color: $bg_grey;
            transition: all 0.3s ease;
        }
    }
    
}


//
.custom-form{
    
    .form-item{
        position: relative;
        
        &:after{
            position: absolute;
            right: 20px;
            top: 16px;
            width: 6px;
            height: 6px;
            border-radius: 10px;
            border: 1px solid #3b373c;
            content: "";
            z-index: 2;
            transition: all .3s;
        }
        
        &.active{
            &:after{
                background-color: #3b373c;
                transition: all .3s;
            }
            
            input, textarea{
                border-color: #3b373c;
                transition: all .3s;
            }
        }
        
        input, textarea{
            width: 100%;
            padding: 12px;
            margin-bottom: 20px;
            font-size: 0.8em;
            outline: 0;
            border: 1px solid $bg_grey_dark;
            transition: all .3s;
        }
    }
    
    .form-button{
        position: relative;
        
        input{
            width: 100%;
            padding: 12px;
            margin-bottom: 20px;
            font-size: 0.9em;
            outline: 0;
            border: 0;
            background-color: $blue;
            color: white;
            cursor: pointer;
            transition: all .3s;
        }
    }
}


//course-breadcrumb
.course-breadcrumb{
    overflow: hidden;
    &>*{
        display: block;
        float: left;
    }
    
    .indicator{
        padding-top: 23px;
    }
}

.filter-btn-wrapper{
    background-color: $bg_grey;
    padding: 15px 0;
    
    @include MQ(M){
        display: none;
    }
    
    .filter-btn{
        border: none;
        outline: none;
        background-color: transparent;
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .fa{
            transition: all 0.3s ease;
        }
        
        .fa.flipped{
            transform: scale(1, -1);
            transition: all 0.3s ease;
        }
    }
}



.filter-box{
    display: none;
    
    @include MQ(M){
        display: block;
    }
}





//Profile Image
.profile-pic {
    //display: block;
}

.file-upload {
    display: none !important;
}
.circle {
    overflow: hidden;
    //width: 128px;
    //height: 128px;
    border: 1px solid rgba(0, 0, 0, 0.2);

}

.p-image {

  color: #666666;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
    font-size: 1.2em;
    cursor: pointer;
    margin-bottom: 20px;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}

.dropdown-menu{
    min-width: 100% !important;
   // width: 100%;
}

.numbered-bucket{
    position: relative;
    padding-left: 50px;
    
    .number{
        position: absolute;
        top: -4px;
        left: 0;
        font-size: 3em;
    }
}

.section-bucket{
    position: relative;
    padding-left: 150px;
    margin-left: 15px;
    margin-right: 15px;
    
    @include MQ(M){
        margin-left: 10%;
        margin-right: 0;
    }
    
    .number{
        position: absolute;
        top: 0x;
        left: 0;
        font-size: 1.5em;
        font-weight: 600;
        opacity: 0.4;
    }
}

.hover-box{
    position: relative;
    
    &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    
    &:hover{
        &:after{
            opacity: 0.2;
            transition: opacity 0.3s ease;
        }
    }
}

.trigger{
    cursor: pointer;
    padding: 40px;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    height: 140px;
    
    @include MQ(M){
        height: 240px;
        font-size: 1.9em;
        margin-bottom: 0;
        padding-left: 20vh;
    }
    
    &.active{
        background-color: white;
    }
    
    img{
        width: 80px;
        padding-right: 20px;
    }
}

.content-box{
    border-bottom: 1px solid $bg_grey_dark;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    
    img{
        padding-bottom: 20px;
        
        @include MQ(M){
            padding-bottom: 0;
        }
    }
    
    @include MQ(M){
        min-height: 240px;
        padding-right: 20vh;
        padding-left: 40px;
        padding-bottom: 40px;
        padding-top: 40px;
    }
}

//Hexagon
.hexagon {
    position: relative;
    width: 30px; 
    height: 17.32px;
    background-color: #c0c0c0;
    margin: 8.66px auto;
    
    &:before,
    &:after {
        content: "";
        position: absolute;
        width: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
    }

    &:before {
        bottom: 100%;
        border-bottom: 8.66px solid #c0c0c0;
    }

    &:after {
        top: 100%;
        width: 0;
        border-top: 8.66px solid #c0c0c0;
    }
    
    
    @include MQ(M){
        position: relative;
        width: 50px; 
        height: 28.87px;
        background-color: #c0c0c0;
        margin: 14.43px auto;

        &:before,
        &:after {
            content: "";
            position: absolute;
            width: 0;
            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
        }

        &:before {
          bottom: 100%;
          border-bottom: 14.43px solid #c0c0c0;
        }

        &:after {
          top: 100%;
          width: 0;
          border-top: 14.43px solid #c0c0c0;
        }

        &.active{
            background: $green;

            &:before {
              border-bottom-color: $green;
            }

            &:after {
              top: 100%;
              width: 0;
              border-top-color: $green;
            }
        }
    }
    
    
    
    .number{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        text-align: center;
        font-size: 0.9em;
        color: white;
        font-weight: 600;
        
        @include MQ(M){
            font-size: 1.2em;
        }
    }
}

.blog-card{
    .cto{
        padding-top: 20px;
    }
    
    @include MQ(M){
        position: relative;
        height: 510px;
        overflow: hidden;

        &:hover{
            .content{
                top: -50px;
                transition: all 0.3s ease;
            }
        }

        .content{
            position: relative;
            background-color: white;
            top: 0;
            transition: all 0.3s ease;

            .cto{
                position: absolute;
                left: 20px;
                bottom: 0;
            }
        }
    }
}
.home-card{
    .cto{
        padding-top: 20px;
    }
    
    @include MQ(M){
        position: relative;
        height: 500px;
        overflow: hidden;

        &:hover{
            .content{
                top: -50px;
                transition: all 0.3s ease;
            }
        }

        .content{
            position: relative;
            top: 0;
            transition: all 0.3s ease;

            .cto{
                position: absolute;
                left: 20px;
                bottom: 0;
            }
        }
    }
}

.homepage-links{
    >*{
        border-bottom: 1px solid rgba(255,255,255,0.3);
        
        &:last-child{
            border-bottom: 0;
        }
        
        @include MQ(M){
            border-bottom: 0;
        }
    }
}

.values-item{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    
    .image-box{
        width: 50px;
        height: auto;
    }
    
    p{
        flex: 1;
        margin-left: 40px;
        font-size: 1.2em;
        font-weight: 600;
    }
}

.ness-item{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    
    .image-box{
        width: 1.2em;
        height: 1.2em;
        
        transform: translateX(0);
        transition: all 0.3s ease;
    }
    
    p{
        flex: 1;
        margin-left: 40px;
        font-size: 1em;
        font-weight: 600;
    }
    
    &:hover{
        .image-box{

            transform: translateX(20px);
            transition: all 0.3s ease;
        }
    }
}

.location-item{
    display: flex;
    
    .content{
        flex: 1;
        margin-left: 20px;
        
        .title{
            font-weight: 600;
            margin-bottom: 10px;
        }
        
        .excerpt{
            font-size: 0.9em;
        }
    }
}

.tech-box{
    background-color: transparent;
    transition: all 0.3s ease;
    
    &:hover{
        color: white !important;
        background: $bg_red;
        transition: all 0.3s ease;
    }
}

.filter-box{
    .filter-group{
        padding-bottom: 12px;
        margin-bottom: 12px;
        border-bottom: 1px solid gainsboro;
    }
    
    button{
        background-color: transparent;
        outline: 0;
        border: 0;
        padding: 0;
    }
    .collapse{
        background-color: transparent;
        border: 0;
    }
    
    .title{
        font-size: 0.8em;
        font-weight: 600;
    }
    
    .dropdown-toggle{
        padding-right: 10px;
        width: 100%;
        text-align: left;
        position: relative;
        cursor: pointer;
        
        &:after {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    
    .filter-list{
        padding-top: 20px;
        
        li{
            font-size: 0.8em;
            font-weight: 300;
            margin-bottom: 1em;
            display: flex;
            align-items: center;
            
            .input-area{
                display: flex;
                align-items: center;
                margin-right: 0.4em;
                
                input{
                    margin-right: 0.8em;
                    cursor: pointer;
                }
            }
        }
    }
}

.magazine-dropdown{
    .btn{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        border-radius: 20px;
        outline: none !important;
        box-shadow: none !important;
        text-align: left !important;
        margin: 0;
        transition: none;
    }
    
    .dropdown.show{
        .btn{
            border-bottom-color: transparent;
            border-radius: 20px 20px 0 0;
            background-color: white;
            color: black;
            transition: none;
            
            &:hover{
                background-color: white;
                color: black;   
            }
        }
    }
        
    
    .dropdown-menu{
        margin-top: 0;
        border: 1px solid $green;
        border-top: 0;
        border-radius: 0 0 20px 20px;
        overflow: hidden;
    }
}

.program-sidebar{
    box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
    background-color: white;
    
    
    @include MQ(M){
        position: absolute;
        right: 80px;
        top: 80px;
        right: 80px;
        z-index: 10;
    }
}

.custom-radio{
    /* The container */
    .radio-item {
        display: inline-block;
        position: relative;
        margin-bottom: 12px;
        cursor: pointer;
        
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
        /* Hide the browser's default radio button */
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }
        
        /* On mouse-over & on Selection, add a grey background color */        
        &:hover input ~ .text, input:checked ~ .text {
            background-color: $green;
            color: white;
            transition: all 0.3s ease;
        }
        
        .text{
            display: block;
            padding: 0.3rem 1em;
            border: 1px solid $green;
            border-radius: 20px;
            transition: all 0.3s ease;
        }
    }

}

.soft-skills-list{
    >*{
        border-right: 1px solid gainsboro;
        
        @include MQ(M){
            border-right: 1px solid gainsboro;
            
            &:nth-child(3){
                border: 0;
            }
        }
        
        
    }
}

.topic-footer{
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: gainsboro;
    padding: 15px;
    
    
    
    @include MQ(M){
        padding-left: 80px;
        padding-right: 80px;
    }
    
    .wrapper{
        display: flex;
        align-items: center;
    }
    
    .cta{
        flex: 1;
        text-align: center;
    }
    
    .navigation-left, .navigation-right{
        font-size: 0.9rem;
        text-transform: uppercase;
        font-weight: 500;
        
        span{
            display: none;
            
            @include MQ(M){
                display: inline-block;
            }
        }
    }
    
    .navigation-left{
        &:before{
            content: "\f053";
            font-family: Fontawesome;
            padding-right: 1em;
        }
    }
    
    .navigation-right{
        text-align: right;
        
        &:after{
            content: "\f054";
            font-family: Fontawesome;
            padding-left: 1em;
        }
    }
}

.service-offerings-tab{
    //border-bottom: 1px solid gainsboro;
    
    li{
        display: inline-block;
        margin-right: 5px;
        
        a{
            display: inline-block;
            background-color: transparent;
            padding: 10px 20px;
            border-radius: 8px 8px 0 0;
            font-size: 0.8rem;
            color: ghostwhite;
            position: relative;
            transition: all 0.3s ease;
            
            &:hover{
                background-color: whitesmoke;
                color: black;
                transition: all 0.3s ease;
            }
            
            &.active{
                background-color: whitesmoke;
                color: black;
                
                &:after{
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 2px;
                    background-color: $blue;
                }
                
                
            }
        }
    }
}

.answer-audio{
    .play-button, .play-button-video{
        display: flex;
        position: relative;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: 0.1rem solid black;
        outline: 0;
        background-color: transparent;
        cursor: pointer;
        
        i{
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 0.8rem;
            transform: translate(-50%, -50%);
            transition: all 0.3s ease;
        }
        
        &:hover{
            i{
                transition: all 0.3s ease;
            }
        }
    }
    .audio-wrapper{
        display: none;
        position: fixed;
        top: 120px;
        z-index: 1000;
        padding: 0 15px;
        
        left: 0;
        right: 0;
        
        @include MQ(M){
            padding: 0 80px;
        }
        
        .content{
            display: flex;
            align-items: center;
        }
        
        .info{
            padding: 10px 20px 10px 0;
            
            .title{
                font-size: 0.9rem;
                font-weight: 500;
                margin-bottom: 5px;
            }
            
            .author{
                font-size: 0.7rem;
                font-weight: 500;
                color: gainsboro;
            }
        }
        
        audio{
            height: 20px;
            flex: 1;
        }
    }
}

.job-icon{
    color: $yellow;
    border-radius: 50%;
}

.venture-filter{
    background-color: gainsboro;
    border: 4px solid gainsboro;
    ul{
        overflow: hidden;
    }
    
    li{
        display: block;
        float: left;
        
        a{
            display: block;
            font-size: 0.9em;
            font-weight: 500;
            color: black;
            padding: 10px 20px;
            
            &.active{
                background-color: white;
            }
        }
    }
}

.featured-request{
    padding-right: 0.5em;
    &:hover{
        background-color: gainsboro;
        border-color: gainsboro;
    }
    
    .value{
        font-size: 0.8em;
        color: white;
        padding: 0.5em;
        margin-left: 1.25em;
        border-radius: 50%;
        background-color: grey;
    }
    
}

.task-number{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    font-size: 0.8em;
    color: white;
    border-radius: 50%;
    background-color: $ash;
}

.applicants-list{
    li{
        display: flex;
        align-items: center;
        padding: 1em;
        border: 1px solid gainsboro;
        cursor: pointer;
        transition: all 0.3s ease;
        
        &:hover, &.active{
            background-color: gainsboro;
            transition: all 0.3s ease;
        }
        
        .avatar{
            width: 3.5em;
            height: 3.5em;
            border-radius: 50%;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }
        
        .info{
            padding-left: 10px;
        }
    }
}

.initials{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
}

.dashboard-quicklinks{
    padding: 20px;
    background-color: $yellow;
    border-radius: 0.5em;
    box-shadow: 0px 3px 6px #00000029;
    min-height: 150px;
}

.steps-list{
    display: flex;
    
    li{
        position: relative;
        flex: 1;
        text-align: center;
        cursor: pointer;
        
        a{
            position: relative;
            display: block;
            margin-left: 0.25em;
            margin-right: 0.25em;
            
            .innertext{
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-weight: 500;
                color: $yellow;
                text-transform: uppercase;
                
                .name{
                    display: none;
                }
                
                @include MQ(M){
                    .name{
                        display: inline;
                    }
                }
            }
            
            &:before, &:after{
                content: "";
                position: relative;
                z-index: 0;
                display: block;
                height: 1.5em;
                background-color: white; 
            }
            
            &:before{
                -ms-transform: skew(30deg,0); /* IE 9 */
                -webkit-transform: skew(30deg,0); /* Safari prior 9.0 */
                transform: skew(30deg,0); /* Standard syntax */
            }
            
            &:after{
                -ms-transform: skew(-30deg,0); /* IE 9 */
                -webkit-transform: skew(3-0deg,0); /* Safari prior 9.0 */
                transform: skew(-30deg,0); /* Standard syntax */
            }
        }
        
        &.complete{
            a{
                .innertext{
                    color: white;
                }
                &:before, &:after{
                    background-color: $yellow; 
                }
            }

        }

        &.active{
            a{
                &:before, &:after{
                    background-color: $yellow_dark;
                }
            }
        }
        
        &:first-child{
            a{
                margin-left: 0.4em;
            }
            
            &:before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 50%;
                background-color: $yellow;
            }
            
            &.active{
                &:before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    width: 50%;
                    background-color: $yellow_dark;
                }
            }
        }
    }
}


